/**
 * Блок с кнопкой "Создать блог"
 *
 * @modifier blog-add
 * @template blocks/block.blog-add.tpl
 */
.block--blog-add .block-content {
    padding: 30px;
    text-align: center;
}

/**
 * Список блогов
 *
 * @template blocks/block.blogs.tpl
 */
.block.blog-block-blogs .item-title {
    font-size: 16px;
    margin-bottom: 7px;
}
.block.blog-block-blogs .item-image {
    border-radius: 3px;
}