/**
 * Блок с кнопкой "Создать блог"
 *
 * @modifier blog-add
 * @template blocks/block.blog-add.tpl
 */
.block--blog-add .block-content { padding: 30px; text-align: center; }
.block--blog-add p { margin-bottom: 25px; }


/**
 * Навигация по блогам
 *
 * @modifier blog-navigation
 * @template blocks/block.blog-nav.tpl
 */
.block--blog-navigation p { margin-bottom: 15px; }
.block--blog-navigation .blog-navigator-categories option:first-child { color: #aaa; }


/**
 * Информация о блоге
 *
 * @modifier blog-actions
 * @template blocks/block.blog-actions.tpl
 */
.block--blog-actions .block-content { padding: 0; }
.block--blog-actions .avatar        { max-width: 100%; vertical-align: top; }
.block--blog-actions .block-footer  { text-align: center; }