/**
 * Пагинация
 *
 * @template pagination.tpl
 * @template comments/comment_pagination.tpl
 */

.pagination                 { overflow: hidden; color: #aaa; line-height: 1em; }

/* Список */
.pagination-list            { overflow: hidden; float: left; margin-top: 10px; margin-right: 50px; }
.pagination-list:last-child { margin-left: 0; }

/* Элемент пагинации */
.pagination-item            { float: left; margin-right: 5px; }
.pagination-item-inner      { display: block; padding: 12px 15px 11px; background: #f7f7f7; }
.pagination-item-text       { color: #aaa; }
.pagination-item-link       { color: #333; }
.pagination-item-link:hover { background: #eee; }

/* Текущая страница */
.pagination-item.active .pagination-item-inner { color: #fff; background: #2891D3; cursor: default; }