/**
 * Media
 */

.media {
	background: #222;
}

/* Nav */
.media-nav {
	float: left;
	width: 160px;
	padding-top: 15px;
}
.media-nav li {
	float: none;
}
.media-nav li a {
	float: none;
	display: block;
	padding: 10px 15px;
	color: #eee;
}
.media-nav li a:hover {
	background: #2a2a2a;
}
.media-nav li.active a {
	background: #333;
}

/* Panes */
.media-panes {
	overflow: hidden;
	margin-left: 160px;
	background: #fff;
	border-left: 1px solid #eee;
}

/* Content */
.media-pane-content {
	min-height: 300px;
	padding: 15px;
}

/* Footer */
.media-pane-footer {
	padding: 15px;
	background: #fafafa;
	border-top: 1px solid #eee;
	text-align: right;
}