.whitebg{
	background: white !important;
}
.backoffice{
	padding-bottom: 20px;
	margin-top: 40px;
	
	float: left;
	width: 100%
}
.backoffice form{
	margin-left: 0px;
	padding-top: 1em;
}
/* html form{
	width: 98%;
}*/
form.form2{
	padding-top: 0px;
}
.backoffice form label{
	
	font-size: 13px;
	font-family: Arial;
	color: #000000;
	margin-top: 0.5em;
}
.backoffice .form_note{
	font-size: 11px;
	font-family: Arial;
	color: #999999;
}
.form_note_red {
	font-size: 13px;
	font-family: Arial;
	color: #ff3300;
}
.blog_info{
	padding: 20px;
	padding-bottom: 17px;
	font-family: Arial;
	font-size: 75%;
}
.posting_info{
	padding: 20px;
	font-family: Verdana;
	font-size: 75%;
	text-align: justify;
}
.blog_info img{
	margin-right: 5px;
	vertical-align: middle;
}
.blog_info .userinfo_groups_name{
	font-family: Arial;
	color: #666666;
	font-weight: bold;
}
.who{
	text-align: left;
	font-size: 13px;
}
.who .text{
	padding-left: 20px;
	padding-top: 5px;
	font-size: 13px;
}
.label2{
	display: inline !important;
}
.addquestion{
	text-align:right; font-size: 13px;
}
.addquestion a img{
	margin-right: 5px;
}
.addquestion a{
	color: #008cd2;
}

.saved_posts{
	font-size: 75%;
}
.saved_posts th{
	padding: 5px;
}
.saved_posts td{
	background: #eeeeee;
	padding: 3px;
	border: solid white 1px;
}
.saved_posts_form{ margin-left: 0px !important; }

/* menu */
table.backof{ margin-left: 0px;}
.backof .subitem2{
	padding: 5px 7px;
}
.toright{
	/*padding-bottom: 1px;*/
	float: right !important;
}

#pagemenuszd2{
	float: left;
}
.backoffice .sf_option_header {
font-family: arial, sans-serif;
color: #666666;
/*font-size: 20px;*/
line-height: 18px;
letter-spacing: -1px;
padding-top: 1em;
}

.bo_user_info{
	font-family: Verdana;
	font-size: 75%;
}
.bo_user_info h3{
	padding: 0px !important;
	margin-bottom: 1em;
}