<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">Static page</lang>
	</name>
	<author>
		<lang name="default">LiveStreet Developers Team</lang>
	</author>
	<homepage>http://livestreet.ru</homepage>
	<version>1.2.1</version>
	<requires>
		<livestreet>0.4.1</livestreet>
		<plugins>
		</plugins>
	</requires>
	<description>
		<lang name="default">Managing static pages</lang>
		<lang name="russian">Управление статическими страницами.</lang>
	</description>
</plugin>