/**
 * Форма поиска
 *
 * @template forms/form.search.base.tpl
 */
.search-form                    { padding: 15px; margin-bottom: 20px; background: #f7f7f7; }
.search-form-body               { position: relative; }
.search-form-input[type="text"] { padding-right: 30px; }

.search-form-submit       { border: none; position: absolute; top: 7px; right: 7px; cursor: pointer; opacity: .7; filter: alpha(opacity=70); }
.search-form-submit:hover { opacity: 1; filter: alpha(opacity=100); }