/**
 * Заметка
 */

.user-note                  { background: #F1F7AF; padding: 20px; margin-bottom: 15px; }
.user-note:last-child       { margin-bottom: 0; }
.user-note-actions          { margin: 10px 0 0 0; overflow: hidden; }
.user-note-actions li       { float: left; margin-right: 15px; }
.user-note-form .form-field { margin-bottom: 15px; }
.user-note-form-text        { height: 5em; }