/*
 * Dropdowns
 *
 * TODO: Add submenu
 */


/* Base class */
.dropdown {
	display: inline-block;
	background: #2891d3;
	color: #fff;
	padding: 5px 12px;
	margin-bottom: 10px;
	min-height: 18px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none; 
}
.dropdown.open { background: #0088cc; color: #fff; }

 /* Dropdown toggle */
.dropdown-toggle {
	padding-right: 25px !important;
	position: relative; 
	cursor: pointer;
}
.dropdown-toggle:after {
	content: "";
	position: absolute;
	top: 50%; right: 9px; 
	height: 0; width: 0; 
	margin-top: -1px;
	border: 4px solid transparent; /* IE7 */
	border: 4px solid rgba(255,255,255,0);
	border-top-color: #fff;
}
.dropdown-toggle.open:after { border-top-color: #fff; }


/* Dropdown menu */
.dropdown-menu {
	position: absolute;
	top: 0; left: 0;
	z-index: 900;
	display: none;
	min-width: 150px;
	padding: 5px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.dropdown-menu > li            { overflow: hidden; }
.dropdown-menu > li > a        { display: block; padding: 5px 12px; white-space: nowrap; }
.dropdown-menu > li.active > a { background: #c8ecff; color: #48a4d5; }
.dropdown-menu > li > a:hover  { background: #0088cc; color: #fff; }

.dropdown-menu > li.divider    { height: 0; border-top: 1px solid #e1e1e1; margin: 5px 0; }


/* Arrow */
/*
.dropdown-menu:after,
.dropdown-menu:before {
	content: '';
	position: absolute;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	width: 0;
	height: 0;
	border: 6px solid transparent;
}
.dropdown-menu:after { border-width: 7px; z-index: -1; }

.dropdown-menu.alignx-left.aligny-top:before      { left: 10px; bottom: -12px; border-top-color: #fff; }
.dropdown-menu.alignx-left.aligny-center:before   { right: -12px; top: 50%; margin-top: -6px; border-left-color: #fff; }
.dropdown-menu.alignx-left.aligny-bottom:before   { left: 10px; top: -12px; border-bottom-color: #fff; }

.dropdown-menu.alignx-center.aligny-top:before    { left: 50%; bottom: -12px; margin-left: -6px; border-top-color: #fff; }
.dropdown-menu.alignx-center.aligny-center:before { display: none; }
.dropdown-menu.alignx-center.aligny-bottom:before { left: 50%; top: -12px; margin-left: -6px; border-bottom-color: #fff; }

.dropdown-menu.alignx-right.aligny-top:before     { right: 10px; bottom: -12px; border-top-color: #fff; }
.dropdown-menu.alignx-right.aligny-center:before  { left: -12px; top: 50%; margin-top: -6px; border-right-color: #fff; }
.dropdown-menu.alignx-right.aligny-bottom:before  { right: 10px; top: -12px; border-bottom-color: #fff; }

.dropdown-menu.alignx-left.aligny-top:after       { left: 9px; bottom: -14px; border-top-color: #bbb; }
.dropdown-menu.alignx-left.aligny-center:after    { right: -14px; top: 50%; margin-top: -7px; border-left-color: #bbb; }
.dropdown-menu.alignx-left.aligny-bottom:after    { left: 9px; top: -14px; border-bottom-color: #bbb; }

.dropdown-menu.alignx-center.aligny-top:after     { left: 50%; bottom: -14px; margin-left: -7px; border-top-color: #bbb; }
.dropdown-menu.alignx-center.aligny-center:after  { display: none; }
.dropdown-menu.alignx-center.aligny-bottom:after  { left: 50%; top: -14px; margin-left: -7px; border-bottom-color: #bbb; }

.dropdown-menu.alignx-right.aligny-top:after      { right: 9px; bottom: -14px; border-top-color: #bbb; }
.dropdown-menu.alignx-right.aligny-center:after   { left: -14px; top: 50%; margin-top: -7px; border-right-color: #bbb; }
.dropdown-menu.alignx-right.aligny-bottom:after   { right: 9px; top: -14px; border-bottom-color: #bbb; }
*/