/* 
 * Text
 */

.text { font-size: 15px; line-height: 1.6em; }


/* Clearfix */
.text:before,
.text:after { content: ""; display: table; }
.text:after { clear: both; }
.text       { zoom: 1; }


/* Links */
.text a	{ text-decoration: underline; }


/* Headers */
.text h4 { font-size: 24px; margin-bottom: 7px; font-weight: bold; }
.text h5 { font-size: 20px; margin-bottom: 7px; font-weight: bold; }
.text h6 { font-size: 18px; margin-bottom: 7px; font-weight: bold; }


/* Preformatted text */
.text pre {
	max-height: 400px;
	margin: 0;
	padding: 10px 14px;
	background: #fcfcfc;
	border: 1px solid #eaeaea;
	border-radius: 3px;
	font: normal 12px/1.5 Menlo, Monaco, Consolas, monospace;
	overflow: auto;
	clear: both;
}
.text code {
    background: #fcfcfc;
    font-family: Menlo, Monaco, Consolas, monospace;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    padding: 2px 5px;
}


/* Quotes */
.text blockquote {
	margin: 0;
	padding: 15px 20px;
	background: #fafafa;
	color: #555;
	clear: both;
	border-left: 5px solid #eee;
}


/* Lists */
.text ul, 
.text ol { margin: 0; padding: 0 0 0 40px; }
.text ul { list-style-type: disc; }
.text ol { list-style-type: decimal; }
.text dd { margin: 0 0 0 40px; }


/* Images */
.text img[align="right"] { margin: 4px 0 5px 25px; }
.text img[align="left"]  { margin: 4px 25px 10px 0; }
.text img.image-center   { display: block; margin: 0 auto; }


/* Responsive */
.text object,
.text iframe,
.text img { max-width: 100%; }


/* Tables */
.text table    { border: 1px solid #e1e1e1; clear: both; }
.text table td,
.text table th { padding: 5px 10px; border: 1px solid #e1e1e1; }


/* Paragraph */
.text p        { margin-bottom: 1em; }


/* User */
.text .ls-user         { color: #333; }
.text .ls-user:visited { color: #333; }
.text .ls-user:hover   { color: #555; }