/* -------------------------------------------------------------------
	ОБЩИЕ СТИЛИ
------------------------------------------------------------------- */

/* Голосование 
---------------------------------------------------- */
.vote .vote-count 							{ display: inline-block; font-weight: bold; color: #aaa; font-size: 14px; }
.vote .vote-count a 						{ text-decoration: none; color: #999; outline: none; }

.vote.vote-count-positive .vote-count 		{ color: #390; }
.vote.vote-count-negative .vote-count 		{ color: #f00; }

.vote .vote-up,
.vote .vote-down 							{ display: inline-block; cursor: pointer; vertical-align: text-top; width: 14px; height: 14px; background: url(../images/icons.png) no-repeat; opacity: .3; filter: alpha(opacity=30); }
.vote .vote-up 								{ background-position: -408px -96px; }
.vote .vote-down 							{ background-position: -433px -96px; }
.vote .vote-up:hover 						{ opacity: .8; filter: alpha(opacity=80); }
.vote .vote-down:hover 						{ opacity: .8; filter: alpha(opacity=80); }

.vote.voted.voted-up 	.vote-up 			{ opacity: 1; filter: alpha(opacity=100); }
.vote.voted.voted-down 	.vote-down 			{ opacity: 1; filter: alpha(opacity=100); }
.vote.voted.voted-up 	.vote-down:hover 	{ opacity: .3; filter: alpha(opacity=30); }
.vote.voted.voted-down 	.vote-up:hover 		{ opacity: .3; filter: alpha(opacity=30); }



/* Избранное 
---------------------------------------------------- */
.favourite 			{ display: inline-block; width: 14px; height: 14px; vertical-align: text-top; background: url(../images/icons.png) -96px 0 no-repeat; opacity: .3; filter: alpha(opacity=30); cursor: pointer; }
.favourite.active 	{ opacity: 1; filter: alpha(opacity=100); }
.favourite:hover 	{ opacity: .8; filter: alpha(opacity=80); }
.favourite-count    { margin-left: 0; font-weight: bold; }



/* Пагинация 
---------------------------------------------------- */
.pagination ul 					{ overflow: hidden; zoom: 1; line-height: 1em; }
.pagination ul li 				{ float: left; margin-right: 5px; }
.pagination ul li span,
.pagination ul li a 			{ float: left; padding: 7px 10px; background: #eee; color: #333; }
.pagination ul li a:hover 		{ background: #ddd; }
.pagination ul li.active span 	{ color: #bbb; background: #fafafa; }
.pagination ul li i 			{ opacity: .5; filter: alpha(opacity=50); }



/* Actions 
---------------------------------------------------- */
.actions 						{ overflow: hidden; zoom: 1; margin-bottom: 10px; }
.actions li 					{ float: left; margin-right: 10px; }
.actions li a 					{ color: #D23232; }
.actions li a:hover 			{ text-decoration: underline; }
.actions li a.link-dotted 		{ border-color: #f00; }
.actions li a.link-dotted:hover { border-color: #06e; color: #06e; text-decoration: none; }



/* Список пользователей 
---------------------------------------------------- */
.user-list-avatar 			{ overflow: hidden; zoom: 1; }
.user-list-avatar li 		{ width: 64px; overflow: hidden; float: left; margin-right: 20px; margin-bottom: 15px; text-align: center; font-size: 11px; }
.user-list-avatar li img	{ margin-bottom: 2px; display: block; }



/* Поиск 
---------------------------------------------------- */
.search 						{ width: 200px; margin-bottom: 20px; position: relative; }
.search .input-text 			{ width: 200px; padding-right: 25px; }
.search .input-submit 			{ border: none; width: 16px; height: 16px; position: absolute; top: 6px; right: 5px; opacity: .7; filter: alpha(opacity=70); }
.search .input-submit:hover 	{ opacity: 1; filter: alpha(opacity=100); }

.search.search-item 			{ margin-bottom: 15px; width: 100%; }
.search.search-item .input-text { width: 100%; padding-right: 5px; }

.search-abc 					{ overflow: hidden; zoom: 1; padding: 10px 15px; background: #fafafa; margin-bottom: 15px; }
.search-abc li 					{ float: left; margin-right: 10px; }
.search-abc li.active a 		{ color: #333; border: none; }

.search-tags 					{ margin-bottom: 15px; }



/* Облако тегов 
---------------------------------------------------- */
.tag-cloud 					{ width: 100%; }
.tag-cloud li 				{ display: inline; margin-right: 5px; line-height: 22px; }
.tag-cloud li a 			{ text-decoration: none; }
.tag-cloud li .tag-size-1 	{ font-size: 12px; }
.tag-cloud li .tag-size-2 	{ font-size: 12px; }
.tag-cloud li .tag-size-3 	{ font-size: 14px; }
.tag-cloud li .tag-size-4 	{ font-size: 14px; }
.tag-cloud li .tag-size-5 	{ font-size: 18px; }
.tag-cloud li .tag-size-6 	{ font-size: 18px; }
.tag-cloud li .tag-size-7 	{ font-size: 20px; }
.tag-cloud li .tag-size-8 	{ font-size: 20px; }
.tag-cloud li .tag-size-9 	{ font-size: 22px; }
.tag-cloud li .tag-size-10 	{ font-size: 22px; }



/* Accordion
---------------------------------------------------- */
.accordion { margin-bottom: 15px; }

.accordion-header { padding: 10px 15px; background: #f7f7f7; cursor: pointer; }
.accordion-header:hover { color: #f00; }

.accordion-content { padding: 15px; background: #fafafa; display: none; border-top: 1px solid #eee; }


/* Item List 
---------------------------------------------------- */
.item-list 					{ }
.item-list li 				{ min-height: 51px; padding: 17px 15px 20px 75px; border-top: 1px solid #eee; position: relative; zoom: 1; background: #fff; }
.item-list li:first-child 	{ border: none; }
.item-list li p 			{ padding-top: 2px; font-size: 11px; }
.item-list li a 			{ text-decoration: none; }
.item-list li .avatar 		{ position: absolute; top: 20px; left: 15px; margin-right: 10px; }
.item-list li .author 		{ font-weight: bold; color: #333; }
.item-list li .blog-name 	{ font-weight: bold; }



/* Разное
---------------------------------------------------- */
.system-message-error 	{ background: #f0c8c8; color: #b22626; padding: 10px 15px; margin-bottom: 15px; }
.system-message-notice 	{ background: #dafad8; color: #4bb23b; padding: 10px 15px; margin-bottom: 15px; }

.notice-empty 			{ color: #aaa; }

.loader { background: #fafafa url(../images/loader.gif) 50% 50% no-repeat; }

.user, .ls-user 	{ font-weight: bold; color: #333; }
.ls-user 	        { display: inline-block; }
.ls-user:before 	{
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 3px;
	background: url(../images/icons.png) -168px 0 no-repeat;
	vertical-align: middle;
}
.user.inactive 		{ color: #aaa; }