/* --------------------------------------------
	НАВИГАЦИЯ
-------------------------------------------- */

.nav 					{ overflow: hidden; zoom: 1; }
.nav li 				{ float: left; }

.nav li:last-child 		{ border-right: none; }
.nav li a 				{ display: block; padding: 10px 15px; }
.nav li a:hover 		{ background: #f3f3f3; }
.nav li.active a 		{ background: #f3f3f3; }


/* Nav Pills */
.nav.nav-pills 				{ margin-bottom: 15px; }
.nav.nav-pills li 			{ margin-right: 3px; }
.nav.nav-pills li a 		{ border-radius: 2px; padding: 5px 12px; background: #f5f5f5; color: #888; }
.nav.nav-pills li a:hover 	{ background: #eaeaea; }
.nav.nav-pills li.active a 	{
	background: #2891d3;
	background: -moz-linear-gradient(top, #2891d3 0%, #2375c6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2891d3), color-stop(100%,#2375c6));
	background: -webkit-linear-gradient(top, #2891d3 0%,#2375c6 100%);
	background: -o-linear-gradient(top, #2891d3 0%,#2375c6 100%);
	background: -ms-linear-gradient(top, #2891d3 0%,#2375c6 100%);
	background: linear-gradient(top, #2891d3 0%,#2375c6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2891d3', endColorstr='#2375c6',GradientType=0 );

	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	color: #fff;
}

.nav.nav-pills.nav-pills-profile 		{ margin-bottom: 30px; }


/* Nav Topic Filter */
.nav.nav-filter 						{ margin-bottom: 1px; }
.nav.nav-filter li 						{ margin-right: 1px; position: relative; }
.nav.nav-filter li a 					{ background: #eee; color: #333; padding: 7px 13px; float: left; }
.nav.nav-filter li a:hover 				{ background: #ddd; }
.nav.nav-filter li.active a 			{ background: #333; color: #fff; }
.nav.nav-filter li a.new 				{ background: #d1d1d1; font-weight: bold; }
.nav.nav-filter li a.new:hover 			{ background: #ccc; }
.nav.nav-filter li.active a.new 		{ background: #444; }
.nav.nav-filter li.active a.new:hover 	{ background: #555; }

.nav.nav-filter.nav-filter-sub li a 		{ padding: 5px 10px; font-size: 11px; color: #777; }
.nav.nav-filter.nav-filter-sub li.active a 	{ color: #fff; }

.nav-filter-wrapper { margin-bottom: 40px; }


/* Userbar */
#userbar {
	border: 1px solid #ddd;
	border-top: none;
	border-radius: 0 0 4px 4px;
	-webkit-box-shadow: 0 0 5px #ddd; box-shadow: 0 0 5px #ddd;

	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
}
#userbar .search { float: left; margin: 5px 0 0 6px; *margin: 4px 0 0 4px; }

.nav.nav-userbar 									{ float: right; }
.nav.nav-userbar li 								{ border-radius: 0 0 0 4px; border-left: 1px solid #eaeaea; }
.nav.nav-userbar li a 								{ color: #555; }
.nav.nav-userbar li:first-child a 					{ border-radius: 0 0 0 4px; }
.nav.nav-userbar li:last-child a 					{ border-radius: 0 0 4px 0; }
.nav.nav-userbar li.nav-userbar-username a 			{ position: relative; padding-left: 47px; font-weight: bold; color: #333; }
.nav.nav-userbar li.nav-userbar-username .avatar 	{ position: absolute; top: 7px; left: 15px; }
.nav.nav-userbar li .new-messages 					{ color: #4AA731; font-weight: bold; }


/* Nav Main */
.nav.nav-main 					{ border-radius: 4px; background: #222; background: -moz-linear-gradient(top, #333 0%, #222 100%); }
.nav.nav-main li a 				{ color: #ddd; }
.nav.nav-main li a:hover 		{ background: #333; }
.nav.nav-main li:first-child a 	{ border-radius: 4px 0 0 4px; }
.nav.nav-main li:last-child  a 	{ border-radius: 0 4px 4px 0; }
.nav.nav-main li.active a 		{ background: #3a3a3a; color: #bbb; -webkit-box-shadow: 0 0 7px rgba(0,0,0,.15) inset; box-shadow: 0 0 7px rgba(0,0,0,.15) inset; }


/* Nav Profile */
.nav.nav-profile 				{ margin-bottom: 15px; }
.nav.nav-profile li 			{ float: none; margin-bottom: 2px; }
.nav.nav-profile li a 			{ padding: 7px 12px; color: #333; }


/* Dropdown */
.nav.nav-pills li.dropdown 			{ position: relative; }
.nav.nav-pills li.dropdown a 		{ padding-right: 25px; }
.nav.nav-pills li.dropdown i 		{ position: absolute; top: 13px; right: 9px; height: 0; width: 0; border: 4px solid transparent; border-top-color: #fff; cursor: pointer; }
.nav.nav-pills li.dropdown ul 		{ display: none; position: absolute; }
.nav.nav-pills li.dropdown.opened a { -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .5) inset; box-shadow: 0 0 7px rgba(0, 0, 0, .5) inset;  }

.dropdown-menu 						{ position: absolute; top: 32px; overflow: hidden; background: #fff; border: 1px solid #ccc; min-width: 150px; -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2); box-shadow: 0 0 5px rgba(0,0,0,.2); border-radius: 3px; }
.dropdown-menu li 					{ font-size: 14px; line-height: 1em; }
.dropdown-menu li a 				{ display: block; padding: 10px 15px; }
.dropdown-menu li a:hover 			{ background: #fafafa; }
.dropdown-menu li.active a 			{ color: #aaa; }
.dropdown-menu li.active a:hover 	{ cursor: default; }

.dropdown-create 		{ position: relative; margin-right: 120px; }
.dropdown-create a 		{ font-weight: normal; }
.dropdown-create h2 a 	{ text-transform: lowercase; }






