/**
 * Навигация
 *
 * @template navs/*.tpl
 */


/**
 * Навгиация для совместимости с шаблоном synio
 */
.nav.nav-menu                 { margin-bottom: 15px; }
.nav.nav-menu > li            { margin-right: 3px; }
.nav.nav-menu > li > a        { border-radius: 2px; padding: 5px 12px; background: #f5f5f5; color: #888; }
.nav.nav-menu > li > a:hover  { background: #eaeaea; }
.nav.nav-menu > li.active > a { background: #2891d3; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); color: #fff; }


/**
 * Юзербар
 *
 * @template header.tpl
 */
#userbar {
	border: 1px solid #ddd;
	border-top: none;
	-webkit-box-shadow: 0 0 5px #ddd; box-shadow: 0 0 5px #ddd;

	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
}
#userbar .search-form { float: right; width: 200px; position: relative; margin: 5px 5px 0 5px; padding: 0; }

.nav.nav-userbar                                 { float: left; }
.nav.nav-userbar li                              { border-right: 1px solid #eaeaea; }
.nav.nav-userbar li a                            { color: #555; }
.nav.nav-userbar li.nav-userbar-username a       { position: relative; padding-left: 40px; font-weight: bold; color: #333; }
.nav.nav-userbar li.nav-userbar-username .avatar { position: absolute; top: 7px; left: 8px; }
.nav.nav-userbar li .new-messages                { color: #4AA731; font-weight: bold; }

/* Dropdown support */
.nav.nav-userbar .dropdown-toggle:after      { border-top-color: #000; }
.nav.nav-userbar .dropdown-toggle.open       { background: #08c; color: #fff; }
.nav.nav-userbar .dropdown-toggle.open:after { border-top-color: #fff; }