/* --------------------------------------------
	СТЕНА
-------------------------------------------- */

.wall-submit 									{ margin-bottom: 30px; }
.wall-submit.wall-submit-reply 					{ margin: 2px 0 2px 25px; padding: 7px; background: #fafafa; }
.wall-submit.wall-submit-reply textarea 		{ height: 28px; *height: 16px; *width: 590px; margin: 0; }
.wall-submit.wall-submit-reply button 			{ display: none; }
.wall-submit.wall-submit-reply.active textarea 	{ height: 80px; margin-bottom: 5px; }
.wall-submit.wall-submit-reply.active button 	{ display: block; }
.wall-submit p 									{ margin-bottom: 5px; }

.comments.wall,
.wall .comment 					{ margin-bottom: 2px; }
.wall .comment .comment-info	{ padding-bottom: 0; }
.wall .comment .comment-content	{ margin-bottom: 3px; }

.comment.wall-comment-reply 					{ min-height: 0; padding-left: 48px; }
.comment.wall-comment-reply .comment-avatar 	{ width: 30px; height: 30px; }

.wall-more 							{ display: block; background: #f7f7f7; text-align: center; padding: 7px 0; font-size: 11px; margin-bottom: 2px; }
.wall-more:hover 					{ background: #eee; }
.wall-more.wall-more-reply 			{ margin-left: 25px; }
.wall-more.loader 					{ background: #fafafa url(../images/loader.gif) 50% 50% no-repeat; }
.wall-more.loader .wall-more-inner 	{ visibility: hidden; }

.wall-note h3 { font-size: 15px; margin-bottom: 20px; font-family: Verdana, sans-serif; }