/**
 * Кнопка обновления комментариев
 *
 * @template toolbar.comment.tpl
 */

.ls-toolbar-item--comments .ls-comments-toolbar-count {
    margin-top: 5px;
    color: #333;
    text-align: center;
    font-size: 11px;
    cursor: pointer;
}