/**
 * Кнопка обновления комментариев
 *
 * @template toolbar.comment.tpl
 */

.toolbar-item--comments .toolbar-comments-count {
    border-top: 1px solid #eee;
    padding: 10px 0;
    color: #333;
    text-align: center;
    font-size: 11px;
    cursor: pointer;
}

.icon-comment-update {
    background-image: url(../images/update.gif);
}
.toolbar-comments-update.active .icon-comment-update {
    background-position: -16px 0;
}