/**
 * Блог
 *
 * @file actions/ActionBlog/blog.tpl
 */

.blog { margin-bottom: 15px; }

.blog.open .blog-short-info { background: #f8fbfe; border-color: #e8eef5; border-radius: 5px 5px 0 0; }


/* Хидер */
.blog-header              { position: relative; padding-right: 150px; padding-left: 40px; margin-bottom: 20px; min-height: 30px; }
.blog-header .blog-title  { margin: 0; }
.blog-header .vote-topic  { position: absolute; top: 3px; right: 15px; }
.blog-header .blog-avatar { position: absolute; top: 0; left: 0; width: 30px; height: 30px; }

/* Краткая информация */
.blog-short-info { 
	padding: 15px;
	font-size: 11px;
	overflow: hidden; 
	zoom: 1;
	border-radius: 5px;
	border-bottom: 1px solid transparent;

	background: #f9fbfb;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f9fbfb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9fbfb));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f9fbfb 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f9fbfb 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f9fbfb 100%);
	background: linear-gradient(top,  #ffffff 0%,#f9fbfb 100%);
}

.blog-short-info-actions         { float: right; }
.blog-short-info-actions .button { margin-left: 20px; }
.blog-short-info-actions a       { margin-left: 14px; color: #727a90; }
.blog-short-info-actions a:hover { color: #f00; }

/* Полная информация */
.blog-full-info { display: none; }

/* Описание */
.blog-content                   { padding: 20px 25px; border-top: 1px solid #fff; background: #f8fbfe; border-top: 1px solid #fff; }
.blog-content h4                { margin-bottom: 5px; font: bold 13px Verdana; }
.blog-content .blog-description { margin-bottom: 50px; }
.blog-content .user-avatar      { margin-right: 10px; }

/* Info */
.dotted-list.blog-info { width: 300px; margin-bottom: 50px; }
.dotted-list.blog-info .dotted-list-item-label,
.dotted-list.blog-info .dotted-list-item-value { background: #f8fbfe; }
.dotted-list.blog-info .dotted-list-item-value.blog-info-rating { color: #5fa459; }

/* Footer */
.blog-footer             { padding: 20px 25px; background: #f1f7fd; font-size: 11px; border-radius: 0 0 5px 5px; }
.blog-footer .blog-rss   { color: #727a90; }
.blog-footer .blog-admin { float: right; }