/**
 * Навигация
 *
 * @template navs/*.tpl
 */


/* Nav Pills */
.nav.nav-pills 				{ margin-bottom: 15px; font-size: 11px; }
.nav.nav-pills li 			{ margin-right: 10px; border: 1px solid transparent; line-height: 13px; border-radius: 5px; padding: 3px 6px 4px; background: none; }
.nav.nav-pills li a 		{ display: block; color: #727a90; text-decoration: underline; float: left; background: none; padding: 0; }
.nav.nav-pills li a:hover 	{ color: #333; border-color: #333; background: none; }
.nav.nav-pills li a.new		{ margin-left: 5px; text-decoration: none; }
.nav.nav-pills li.active 	{ border-color: #ebf0f4; }
.nav.nav-pills li.active a 	{ color: #628fa5; text-decoration: none; background: none; border-color: #ebf0f4; }

.nav.nav-pills.nav-pills-profile 		{ margin-bottom: 30px; }


/* Nav Topic Filter */
.nav.nav-menu 						{ font-size: 11px; border-radius: 13px; border: 1px solid #fff; float: left; position: relative; }
.nav.nav-menu li 					{ position: relative; height: 22px; padding: 1px 1px 1px 0; -webkit-box-shadow: -1px 0 0 #dfe3e8 inset, 0 1px 0 #dfe3e8 inset, 0 -1px 0 #dfe3e8 inset; box-shadow: -1px 0 0 #dfe3e8 inset, 0 1px 0 #dfe3e8 inset, 0 -1px 0 #dfe3e8 inset; }
.nav.nav-menu li a { 
	background: #fbfbfc;
	background: -moz-linear-gradient(top,  #fbfbfc 0%, #f0f2f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfc), color-stop(100%,#f0f2f5));
	background: -webkit-linear-gradient(top,  #fbfbfc 0%,#f0f2f5 100%);
	background: -o-linear-gradient(top,  #fbfbfc 0%,#f0f2f5 100%);
	background: -ms-linear-gradient(top,  #fbfbfc 0%,#f0f2f5 100%);
	background: linear-gradient(top,  #fbfbfc 0%,#f0f2f5 100%);

	height: 22px; 
	line-height: 21px;
	color: #434343; 
	padding: 0 13px; 
	float: left; 
	text-decoration: none;
	
	-webkit-box-shadow: 1px 0 0 #fff inset, 0 1px 0 #fff inset; box-shadow: 1px 0 0 #fff inset, 0 1px 0 #fff inset;
}
.nav.nav-menu li:first-child			{ border-top-left-radius: 13px; border-bottom-left-radius: 13px; }
.nav.nav-menu li:first-child a			{ border-top-left-radius: 13px; border-bottom-left-radius: 13px; padding-left: 15px; -webkit-box-shadow: 1px 0 0 #dfe3e8 inset, 0 1px 0 #fff inset; box-shadow: 1px 0 0 #dfe3e8 inset, 0 1px 0 #fff inset; }
.nav.nav-menu li:last-child				{ border-top-right-radius: 13px; border-bottom-right-radius: 13px; -webkit-box-shadow: 0 1px 0 #dfe3e8 inset, 0 -1px 0 #dfe3e8 inset; box-shadow: 0 1px 0 #dfe3e8 inset, 0 -1px 0 #dfe3e8 inset; padding-right: 0; }
.nav.nav-menu li:last-child a			{ border-top-right-radius: 13px; border-bottom-right-radius: 13px; padding-right: 15px; box-shadow: -1px 0 0 #dfe3e8 inset, 0 1px 0 #fff inset; }

.nav.nav-menu li:hover { -webkit-box-shadow: -1px 0 0 #27ace8 inset, 0 1px 0 #27ace8 inset, 0 -1px 0 #27ace8 inset; box-shadow: -1px 0 0 #27ace8 inset, 0 1px 0 #27ace8 inset, 0 -1px 0 #27ace8 inset; }
.nav.nav-menu li:hover a { 
	color: #fff;
	
	-webkit-box-shadow: 1px 0 0 #27ace8 inset, 0 -1px 0 #55d0ff inset; box-shadow: 1px 0 0 #27ace8 inset, 0 -1px 0 #55d0ff inset;
	
	background: #4ec4ff;
	background: -moz-linear-gradient(top,  #4ec4ff 0%, #22b3fe 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ec4ff), color-stop(100%,#22b3fe));
	background: -webkit-linear-gradient(top,  #4ec4ff 0%,#22b3fe 100%);
	background: -o-linear-gradient(top,  #4ec4ff 0%,#22b3fe 100%);
	background: -ms-linear-gradient(top,  #4ec4ff 0%,#22b3fe 100%);
	background: linear-gradient(top,  #4ec4ff 0%,#22b3fe 100%);
}

.nav.nav-menu li.active 				{ background: #edf8fd; border: none; -webkit-box-shadow: 0 2px 3px #b4d5e2 inset; box-shadow: 0 2px 3px #b4d5e2 inset; }
.nav.nav-menu li.active a 				{ background: none; color: #628fa5; -webkit-box-shadow: none; box-shadow: none; border: none; }

.nav.nav-menu.nav-filter-sub li a 			{ padding: 5px 10px; font-size: 11px; color: #777; }
.nav.nav-menu.nav-filter-sub li.active a 	{ color: #fff; }

.nav-menu-wrapper { margin-bottom: 40px; position: relative; }

.oldie .nav.nav-menu { border-color: #dfe3e8; border-right: none; }
.oldie .nav.nav-menu li { border-right: 1px solid #dfe3e8; }
.oldie #nav { background: #f6f6f6; }


/* Nav Main */
.nav.nav-main                  { height: 51px; overflow: hidden; background: none; }
.nav.nav-main li               { margin-right: 22px; position: relative; height: 51px; line-height: 49px; background: none; }
.nav.nav-main li.nav-main-more { margin-right: 0; display: none; }
.nav.nav-main li a             { color: #cfcfcf; text-decoration: none; padding: 0; }
.nav.nav-main li a:hover       { color: #aaa; background: none; }
.nav.nav-main li.active a      { color: #aed6e9; background: none; }
.nav.nav-main li:before        { display: none; content: ""; position: absolute; bottom: 0; left: 50%; margin-left: -2px; width: 0; height: 0; border: 3px solid transparent; border-bottom-color: #fff; }
.nav.nav-main li.active:before { display: block; }


/* Nav Profile */
.nav.nav-profile 				{ margin-bottom: 15px; }
.nav.nav-profile li 			{ float: none; font-size: 15px; border-bottom: 1px dotted #dce1e6; padding: 8px 10px 10px 30px; }
.nav.nav-profile li a 			{ float: none; text-decoration: underline; color: #275ec2; padding: 0; }
.nav.nav-profile li a:hover 	{ color: #f00; }
.nav.nav-profile li.active a 	{ text-decoration: none; color: #000; }


/* Nav Group */
.nav-group { position: relative; }
.nav-group .dropdown.dropdown-timespan { position: absolute; top: 0; right: 0; margin: 0; }