/**
 * Опросы
 * 
 * @template topics/topic.question.tpl
 */

.poll                 { margin-bottom: 15px; }

.poll-list            { margin-bottom: 20px; margin-left: 0; list-style-type: none;	}

.poll-item            { margin-bottom: 10px; }
.poll-item:last-child { margin-bottom: 0; }
.poll-item label      { display: inline; }


/**
 * Результат опроса
 *
 * @template topics/poll_result.tpl
 */
.poll-result                   { margin-bottom: 10px; }
.poll-result-item              { margin-bottom: 20px; overflow: hidden; zoom: 1; }
.poll-result-item-count        { float: left; width: 65px; }
.poll-result-item-count strong { display: block; }
.poll-result-item-count span   { font-size: 11px; color: #aaa; }
.poll-result-item-chart        { padding-left: 80px; }
.poll-result-item-bar          { height: 7px; margin-top: 3px; background: #ccc; overflow: hidden; border-radius: 4px; }

.poll-result-item-most .poll-result-item-count { color: #12aaeb; }
.poll-result-item-most .poll-result-item-bar {
	background: #1999e2;
	background: -moz-linear-gradient(top, #25dcfc 0%, #198bdd 70%, #38d1f7 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #25dcfc), color-stop(70%, #198bdd), color-stop(100%, #38d1f7));
	background: -webkit-linear-gradient(top, #25dcfc 0%, #198bdd 70%, #38d1f7 100%);
	background: -o-linear-gradient(top, #25dcfc 0%, #198bdd 70%, #38d1f7 100%);
	background: -ms-linear-gradient(top, #25dcfc 0%, #198bdd 70%, #38d1f7 100%);
	background: linear-gradient(to bottom, #25dcfc 0%, #198bdd 70%, #38d1f7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25dcfc', endColorstr='#38d1f7', GradientType=0 );
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2); 
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.poll-result-total         { position: relative; color: #818189; font-size: 11px; line-height: 16px; padding-left: 80px; }
.poll-result-total .button { position: absolute; top: 2px; left: 0; cursor: pointer; }
.poll-result-total .button.active .icon-poll-sort { background-image: url(../images/icons/poll-sort-active.png); }


/**
 * Создание опроса
 *
 * @template actions/ActionQuestion/add.tpl
 */
.poll-add             { padding: 20px; margin-bottom: 20px; background: #F1F7FD; }
.poll-add-list        { margin-bottom: 15px; }
.poll-add-item        { margin-bottom: 10px; padding-right: 30px; position: relative; }
.poll-add-item-input  { width: 100%; }
.poll-add-item-remove { position: absolute; top: 2px; right: 0; cursor: pointer; }