/* 
 * Text
 */

.text { font-size: 13px; }


/* Quotes */
.text blockquote {
	padding: 10px 15px;
	background: #fbfbfc;
	color: #555;
	border-left: 5px solid #EDEDF2;
}


/* User */
.text .ls-user         { color: #3F8AD7; }
.text .ls-user:visited { color: #3F8AD7; }
.text .ls-user:hover   { color: #f00; }