/**
 * Загрузка и управление файлами
 */

.uploader-wrapper {
	min-height: 150px;
}
.uploader-file-list {
	overflow: auto;
	width: 68%;
	margin-right: 2%;
	min-height: 30px;
	max-height: 354px;
	float: left;
}
.uploader-aside {
	width: 30%;
	float: left;
}


/**
 * Файл
 */
.uploader-file {
	position: relative;
	cursor: pointer;
	border: 3px solid transparent;
	padding: 1px;
	float: left;
	margin: 0 10px 10px 0;
}
.uploader-file:hover {
	border-color: #eee;
}

/* Изображение */
.uploader-file-image {
	vertical-align: top;
	width: 100px;
	height: 100px;
}

/* Название файла */
.uploader-file-name {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 5px;
	background: rgba(255,255,255,.7);
	font-size: 11px;
	line-height: 1em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/* Selected */
.uploader-file.is-selected {
	border-color: #D5CE3D;
}

/* Active */
.uploader-file.is-selected.active {
	border-color: #7979FC;
}

/* Progress bar */
.uploader-file .progress {
	width: 100px;
	height: 100px;
	line-height: 100px;
	position: relative;
	text-align: center;
	background-color: #f5f5f5;
}
.uploader-file .progress-info {
	background: #000;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	padding: 2px 4px;
	border-radius: 2px;
	position: relative;
}
.uploader-file .progress-value {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100px;
	background: #84F76F;
}


/**
 * Info
 */
.uploader-info-block {
	border: 1px solid #eee;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 15px;
}

/* Empty alert */
.uploader-info .alert--empty {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.uploader-info-base {
	padding-left: 115px;
	position: relative;
	min-height: 100px;
}
.uploader-info-base-image {
	position: absolute;
	top: 0;
	left: 0;
}