/**
 * Загрузка и управление файлами
 */

/* Пустой список */
.uploader.is-empty .field-upload-area {
	padding: 150px 20px;
	margin-bottom: 0;
}
.uploader.is-empty .uploader-wrapper {
	display: none;
}


/**
 * Обертка
 */
.uploader-wrapper {
	min-height: 150px;
}


/**
 * Содержимое
 */
.uploader-content {
	margin-right: 320px;
}


/**
 * Сайдбар
 */
.uploader-aside {
	width: 300px;
	float: right;
}
.uploader-aside-empty {
	display: none;
}

.uploader-aside.is-empty .uploader-aside-empty { display: block; }
.uploader-aside.is-empty .uploader-aside-blocks { display: none; }


/* TODO: Responsive */
@media (max-width: 999px)  {
	.uploader-file-list {
		margin: 15px 0 0;
	}
	.uploader-aside {
		width: auto;
		float: none;
	}
}


/* Empty alert */
.uploader .alert--empty {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}


/**
 * Список файлов
 */
.uploader-file-list {
	min-height: 30px;
	overflow: auto;
}


/**
 * Файл
 */
.uploader-file {
	position: relative;
	cursor: pointer;
	border: 3px solid transparent;
	padding: 1px;
	float: left;
	margin: 0 10px 10px 0;
}
.uploader-file:hover {
	border-color: #eee;
}

/* Изображение */
.uploader-file-image {
	vertical-align: top;
	width: 100px;
	height: 100px;
}

/* Название файла */
.uploader-file-name {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 5px;
	background: rgba(255,255,255,.7);
	font-size: 11px;
	line-height: 1em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/* Selected */
.uploader-file.is-selected {
	border-color: #B9C4FF;
}
.uploader-file.is-selected .uploader-file-image {
	opacity: .5;
}

/* Active */
.uploader-file.is-selected.active {
	border-color: #7979FC;
}

/* Progress bar */
.uploader-file .progress {
	width: 100px;
	height: 100px;
	line-height: 100px;
	position: relative;
	text-align: center;
	background-color: #f5f5f5;
}
.uploader-file .progress-info {
	background: #000;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	padding: 2px 4px;
	border-radius: 2px;
	position: relative;
}
.uploader-file .progress-value {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100px;
	background: #84F76F;
}


/**
 * Block
 */
.block.uploader-block {
	border: 1px solid #eee;
	border-radius: 5px;
	margin-top: 15px;
	margin-bottom: 0;
}
.block.uploader-block:first-child {
	margin-top: 0;
}


/**
 * Info
 */
.block.uploader-block.uploader-info .block-content {
	padding: 0;
}
.uploader-info-actions {
	padding: 10px 20px;
	border-bottom: 1px solid #eee;
}
.uploader-info-list-item {
	background: #fafafa;
	padding: 10px 20px;
	line-height: 1em;
	border-bottom: 1px solid #fff;
}
.uploader-info-list-item-label {
	color: #aaa;
}
.uploader-info-list-item:nth-child(even) {
	background: #F5F5F5;
}
.uploader-info-list-item:last-child {
	border: none;
}
.uploader-info-fields {
	border-top: 1px solid #eee;
	padding: 20px 20px;
}
.uploader-info-base {
	padding: 20px 20px 20px 135px;
	position: relative;
	min-height: 100px;
	border-bottom: 1px solid #eee;
}
.uploader-info-base-image {
	position: absolute;
	top: 20px;
	left: 20px;
}
.uploader-info-property-name {
	display: block;
	margin-bottom: 5px;
}
.uploader-info-property-date,
.uploader-info-property-size {
	color: #aaa;
	font-size: 11px;
}

/**
 * Modal
 */
.modal--uploader {
	max-width: 850px;
}