/**
 * Progress Bar
 */

.progress-bar {
    height: 25px;
    width: 100%;
    background: #8BC4E0;
    color: #fff;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
}
.progress-bar-value {
    height: 25px;
    background: #149bdf;
    background: -moz-linear-gradient(top, #149bdf 0%, #0480be 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #149bdf), color-stop(100%, #0480be));
    background: -webkit-linear-gradient(top, #149bdf 0%, #0480be 100%);
    background: -o-linear-gradient(top, #149bdf 0%, #0480be 100%);
    background: -ms-linear-gradient(top, #149bdf 0%, #0480be 100%);
    background: linear-gradient(to bottom, #149bdf 0%, #0480be 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#149bdf', endColorstr='#0480be', GradientType=0 );
}
.progress-bar-label {
    height: 25px;
    width: 100%;
    line-height: 25px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
}