/**
 * Alerts
 */

.alert {
	border: 1px solid #EED3D7;
	background-color: #F2DEDE;
	color: #B94A48;
	padding: 10px 15px;
	margin-bottom: 15px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}
.alert--title { font-size: 14px; font-weight: bold; }


/* Error */
.alert.alert-error { background-color: #F2DEDE; color: #B94A48; border-color: #EED3D7; }


/* Success */
.alert.alert-success { background-color: #DFF0D8; color: #468847; border-color: #D6E9C6; }


/* Info */
.alert.alert-info { background-color: #D9EDF7; color: #3A87AD; border-color: #BCE8F1; }