/* 
 * Buttons
 */

.button {
	display: inline-block;
	
	padding: 4px 12px;
	padding: 5px 12px;
	margin: 0;

	text-align: center;
    vertical-align: middle;
    text-decoration: none;

	font-size: 14px;
	line-height: 20px;
	border: none;
	
	color: #333;
	
	background: #fafafa;
	background: #eee;

	cursor: pointer;
	
	*margin-right: 5px;
	*border: 0;
}
.button:hover  { text-decoration: none; background: #ddd; }
.button:active,
.button.active { 
	background: #eaeaea;
	border-color: #ccc;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .2) inset;
	   -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .2) inset;
	        box-shadow: 0 0 5px rgba(0, 0, 0, .2) inset;
}
.button.fl-r { *margin-right: 0; }


/* Button Disabled */
.button.disabled,
.button.disabled:hover,
.button[disabled],
.button[disabled]:hover {
	border-color: #ccc;
	background: #eee;
	color: #999;
}

.button.disabled:active,
.button[disabled]:active {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}


/* Button Primary */
.button-primary { 
	color: #fff;
	background: #006DCC;
}
.button-primary:hover  { background: #0044cc; }
.button-primary.active { background: #006DCC; }