/* 
 * Forms
 */


/* Input Text */
textarea,
input[type="text"],
.input-text {
	padding: 5px;
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.07) inset; 
	        box-shadow: 0 2px 4px rgba(0,0,0,.07) inset;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
input[type="text"]:focus,
.input-text:focus {
	border-color: #4d90fe;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.07) inset, 0 0 3px #4d90fe;
	        box-shadow: 0 2px 4px rgba(0,0,0,.07) inset, 0 0 3px #4d90fe;
}


/* Checkboxes */
input[type="checkbox"],
.input-checkbox { 
	position: relative;
	top: 1px;
	margin: 0 2px 0 1px;
}


/* Select */
select { padding: 4px; border: 1px solid #ddd; border-radius: 3px; }


/* Fieldset */
fieldset        { margin-bottom: 30px; padding-top: 20px; border-top: 1px solid #eaeaea; }
fieldset legend { color: #000; font-size: 18px; padding-right: 10px; }


form p                   { margin-bottom: 20px; }
form label               { display: block; margin-bottom: 3px; }
form .icon-question-sign { cursor: help; }


/* Note */
.note { display: block; margin-top: 3px; font-size: 12px; color: #aaa; }
.note.note-header { margin-bottom: 20px; }

.captcha-image { vertical-align: top; }

dl.form-item { overflow: hidden; zoom: 1; margin-bottom: 20px; }
dl.form-item dt { float: left; width: 135px; padding-top: 4px; padding-right: 15px; overflow: hidden; }
dl.form-item dd { float: left; width: 300px; }

.form-profile { position: relative; }
.form-profile .avatar-change { position: absolute; top: 40px; right: 0; padding: 10px; background: #f7f7f7; font-size: 11px; }


/* Placeholder */
:-moz-placeholder           { color: #aaa; }
::-webkit-input-placeholder { color: #aaa; }
.placeholder                { color: #aaa; } /* IE */


/* Editor */
.mceEditor      { display: block; margin-bottom: 20px; }
.markItUpEditor { border-radius: 0; }


/* Validate */
.validate-error-hide { display: none; }
.validate-error-show { display: block; color: #f00; font-weight: bold; font-size: 12px; }