/*
 * Navs
 */


/* Base class
-------------------------------------------------- */
.nav                 {  }
.nav > li            { float: left; position: relative; }
.nav > li:last-child { border-right: none; }
.nav > li > a        { display: block; padding: 10px 15px; }
.nav > li > a:hover  { background: #f3f3f3; }
.nav > li.active > a { background: #f3f3f3; }

/* Clearfix */
.nav:before,
.nav:after { content: ""; display: table; }
.nav:after { clear: both; }
.nav       { zoom: 1; }


/* Group
-------------------------------------------------- */
.nav-group { position: relative; margin-bottom: 40px; }
.nav-group .nav,
.nav-group .nav.nav-pills { margin-bottom: 10px; }
.nav-group > *:last-child { margin-bottom: 0; }


/* Pills
-------------------------------------------------- */
.nav.nav-pills                 { margin-bottom: 15px; }
.nav.nav-pills > li            { margin-right: 3px; }
.nav.nav-pills > li > a        { border-radius: 2px; padding: 5px 12px; background: #f5f5f5; color: #888; }
.nav.nav-pills > li > a:hover  { background: #eaeaea; }
.nav.nav-pills > li.active > a { background: #2891d3; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); color: #fff; }

/* Stacked */
.nav.nav-pills.nav-stacked          { margin-bottom: 15px; }
.nav.nav-pills.nav-stacked > li     { float: none; margin-bottom: 3px; }
.nav.nav-pills.nav-stacked > li > a { padding: 7px 12px; }

/* Dropdown support */
.nav.nav-pills .dropdown-toggle:after      { border-top-color: #333; }
.nav.nav-pills .dropdown-toggle.open       { background: #2891D3; color: #fff; }
.nav.nav-pills .active .dropdown-toggle:after,
.nav.nav-pills .dropdown-toggle.open:after { border-top-color: #fff; }


/* Tabs
-------------------------------------------------- */
.nav.nav-tabs          { border-bottom: 1px solid #ddd; margin-bottom: 15px; }
.nav.nav-tabs > li     { position: relative; margin-bottom: -1px; }
.nav.nav-tabs > li > a {
	border: 1px solid transparent;
	margin-right: 3px;
	padding: 10px 15px;
	*padding: 10px 13px;
	border-radius: 3px 3px 0 0;
	cursor: pointer;
	font-size: 14px;
	background: transparent;
	color: #08c;
}
.nav.nav-tabs > li > a:hover  { background: #f1f1f1; border-bottom-color: #ddd; color: #058; }
.nav.nav-tabs > li.active > a { background: #fff; border-color: #ddd; border-bottom-color: #fff; color: #333; cursor: default; }

/* Dropdown support */
.nav.nav-tabs .dropdown-toggle:after                    { border-top-color: #08c; }
.nav.nav-tabs .dropdown-toggle.open                     { background: #08c; color: #fff; border-color: transparent !important; }
.nav.nav-tabs .active .dropdown-toggle:after,
.nav.nav-tabs .active .dropdown-toggle:hover:after      { border-top-color: #333; }
.nav.nav-tabs .active .dropdown-toggle.open:after,
.nav.nav-tabs .dropdown-toggle.open:after,
.nav.nav-tabs .dropdown-toggle.open:hover:after,
.nav.nav-tabs .active .dropdown-toggle.open:hover:after { border-top-color: #fff; }
.nav.nav-tabs .dropdown-toggle:hover:after              { border-top-color: #058; }

/* Tabs content */
.tab-pane { display: none; }


/* Userbar
 * TODO: Fix
-------------------------------------------------- */
#userbar {
	border: 1px solid #ddd;
	border-top: none;
	border-radius: 0 0 4px 4px;
	-webkit-box-shadow: 0 0 5px #ddd; box-shadow: 0 0 5px #ddd;

	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
}
#userbar .search { float: left; margin: 5px 0 0 6px; *margin: 4px 0 0 4px; }

.nav.nav-userbar 									{ float: right; }
.nav.nav-userbar li 								{ border-radius: 0 0 0 4px; border-left: 1px solid #eaeaea; }
.nav.nav-userbar li a 								{ color: #555; }
.nav.nav-userbar li:first-child a 					{ border-radius: 0 0 0 4px; }
.nav.nav-userbar li:last-child a 					{ border-radius: 0 0 4px 0; }
.nav.nav-userbar li.nav-userbar-username a 			{ position: relative; padding-left: 47px; font-weight: bold; color: #333; }
.nav.nav-userbar li.nav-userbar-username .avatar 	{ position: absolute; top: 7px; left: 15px; }
.nav.nav-userbar li .new-messages 					{ color: #4AA731; font-weight: bold; }

/* Dropdown support */
.nav.nav-userbar .dropdown-toggle:after      { border-top-color: #000; }
.nav.nav-userbar .dropdown-toggle.open       { background: #08c; color: #fff; }
.nav.nav-userbar .dropdown-toggle.open:after { border-top-color: #fff; }


/* Main
 * TODO: Fix
-------------------------------------------------- */
.nav.nav-main 					{ border-radius: 4px; background: #222; background: -moz-linear-gradient(top, #333 0%, #222 100%); }
.nav.nav-main li a 				{ color: #ddd; }
.nav.nav-main li a:hover 		{ background: #333; }
.nav.nav-main li:first-child a 	{ border-radius: 4px 0 0 4px; }
.nav.nav-main li:last-child  a 	{ border-radius: 0 4px 4px 0; }
.nav.nav-main li.active a 		{ background: #3a3a3a; color: #bbb; -webkit-box-shadow: 0 0 7px rgba(0,0,0,.15) inset; box-shadow: 0 0 7px rgba(0,0,0,.15) inset; }

/* Dropdown support */
.nav.nav-main .dropdown-toggle.open:hover { background: #0088cc; }