/**
 * Toolbar
 */

.toolbar 					{ position: fixed; z-index: 100; }
.toolbar section 			{ width: 34px; line-height: 14px; background: #fff; -webkit-box-shadow: 0 0 5px rgba(0,0,0,.05); box-shadow: 0 0 5px rgba(0,0,0,.05); margin-bottom: 10px; }
.toolbar section a			{ display: block; padding: 10px; }
.toolbar section a:hover	{ background: #fafafa; }
.toolbar section i			{ display: block; }

/* Admin button */
.toolbar .toolbar-admin a { display: block; }

/* Update comments button */
.toolbar .toolbar-update {  }
.toolbar .toolbar-update .update-comments 			{ padding: 9px; }
.toolbar .toolbar-update .update-comments i 		{ display: block; width: 16px; height: 16px; background: url(../images/update.gif) no-repeat; }
.toolbar .toolbar-update .update-comments.active i 	{ background-position: -16px 0; }
.toolbar .toolbar-update .new-comments 				{ border-top: 1px solid #eee; padding: 10px 0; color: #333; text-align: center; font-size: 11px; }

/* Topic navigation */
.toolbar .toolbar-topic a.toolbar-topic-prev { border-bottom: 1px solid #eee; }

/* Scroll up */
.toolbar .toolbar-scrollup { display: none; }