#container { width: expression((documentElement.offsetWidth || document.body.offsetWidth) < 900 ? '900px' : 'auto'); }

#header h1 { padding-top: 29px; }
#header .nav-main { padding-top: 31px; }

#nav .nav-blog li ul li a { padding: 4px 11px 4px 0; }

.topic, .topic .action, .topic .voting, #sidebar .tags ul, .people.top-blogs td.name,
.stream .stream-nav, #footer,, .profile-blog .about .content ul.admin-list,
.profile-blog .about .content, #wrapper.white-back, .block.stat .gender, 
.profile-blog .about .content ul.reader-list, .profile-user .name,  #pagination ul, 
.block-nav, .profile-blog, .poll li dl { zoom: 1; }

.update { position:absolute; top:expression( eval(document.documentElement.scrollTop) + 220 +"px" ); }
.people table tbody td.rating.up span { background: url(../images/blog-rating-up.gif) no-repeat right 8px; }
.people table tbody td.rating.down span { background: url(../images/blog-rating-down.gif) no-repeat right 8px; }
.people.top-blogs td.name a.author { line-height: 25px; }
.people.top-blogs .join a { position: relative; top: 2px; }
.profile-blog .about { position: relative; top: -15px; }

.comment .info img.avatar { margin: 2px 7px 0 0; }

.block-nav li a { margin: 0 4px; }
.block-nav li em { margin-left: 0px; }

.topic .favorite.guest a { background: none; cursor: default; }

.overlay { zoom: 1; background: #000; filter: alpha(opacity=50); }
.login-popup .content { padding-right: 38px; }



