.icon-contact {
    width: 16px;
    height: 16px;
    background: url(../images/icons-contact.png) no-repeat;
}
.icon-contact-default       { background-position: 0 0; }
.icon-contact-mail          { background-position: -20px 0; }
.icon-contact-icq           { background-position: -40px 0; }
.icon-contact-jabber        { background-position: -60px 0; }
.icon-contact-phone         { background-position: -80px 0; }
.icon-contact-skype         { background-position: -100px 0; }
.icon-contact-vkontakte     { background-position: -120px 0; }
.icon-contact-twitter       { background-position: -140px 0; }
.icon-contact-facebook      { background-position: -160px 0; }
.icon-contact-odnoklassniki { background-position: -180px 0; }
.icon-contact-www           { background-position: -200px 0; }