/**
 * Список пользователей
 */

.user-list-add {
    margin-bottom: 15px;
}
.user-list-add:last-child {
    margin-bottom: 0;
}
.user-list-add-title {
    font-size: 18px;
    margin-bottom: 15px;
}
.user-list-add-form {
    padding: 20px;
    margin-bottom: 5px;
    background: #f7f7f7;
    border: 1px solid #eee;
}
.user-list-add-note {
    margin-bottom: 20px;
    color: #aaa;
    font-size: 13px;
}