/**
 * Основные стили
 */

body {
	font-size: 13px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px;
	color: #333;
	background-color: #f7f7f7;
}


/**
 * Ссылки
 */
a 		{ color: #08c; text-decoration: none; }
a:hover { color: #058; }

.text a:visited, 
.topic .topic-header .topic-title a:visited,
.item-list li a:visited { color: #1D2273; }


/**
 * Заголовки
 */
.h1, .h2, .h3, .h4, .h5, .h6 { margin-bottom: 15px; line-height: 1.2em; }

.h1 { font-size: 28px; }
.h2 { font-size: 26px; }
.h3 { font-size: 24px; }
.h4 { font-size: 22px; }
.h5 { font-size: 20px; }
.h6 { font-size: 18px; }

.page-header      { color: #333; font-size: 27px; line-height: 1em; font-weight: bold; margin-bottom: 20px; }
.page-header span { color: #aaa; }

.header-table     { margin-bottom: 0; border-bottom: 1px solid #eee; padding-bottom: 5px; font-size: 14px; font-weight: bold; }


/**
 * Шапка сайта
 */
#header a                  { text-decoration: none; color: #000; }

#header .site-name         { margin: 0 0 10px; font-size: 54px; line-height: 1em; font-weight: bold; text-align: center; }
#header .site-name a:hover { color: #3a41b8; }
#header .site-description  { max-width: 500px; margin: 0 auto; color: #777; font-size: 15px; }