/**
 * Кнопка прокрутки вверх
 *
 * TODO: Fix icons;
 */

.toolbar-item--scrollup          { display: none; }
.toolbar-item--scrollup i        { background-position: -288px -120px; }
.toolbar-item--scrollup.active i { background-position: -313px -119px; }