/**
 * Кнопка прокрутки вверх
 */

.ls-toolbar-item--scrollup {
    display: none;
}
.ls-toolbar-item--scrollup i {
    -webkit-transition: transform .3s;
    transition: transform .3s;
}
.ls-toolbar-item--scrollup.active i {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}