/**
 * Админка
 *
 * @template actions/ActionAdmin/*.tpl
 */


/**
 * Настраиваемые поля
 */
.userfield-list li       { background: #f7f7f7; margin-bottom: 1px; padding: 13px 65px 13px 15px; position: relative; }
.userfield-list li:hover { background: #eee; }
.userfield-actions       { position: absolute; top: 15px; right: 15px; }


/**
 * Информация о производительности
 *
 * @template stat_performance.tpl
 */
.stat-performance       { margin: 20px; padding: 20px; }
.stat-performance table { width: 100%; }
.stat-performance td    { vertical-align: top; }
.stat-performance h4    { font-weight: bold; font-size: 14px; }


/**
 * Управление плагинами
 *
 * @template actions/ActionAdmin/plugins.tpl
 */
.table.table-plugins .cell-checkbox { width: 20px; padding: 12px 0 10px 10px; }
.table.table-plugins h3             { font-weight: bold; font-size: 17px; line-height: 20px; margin-bottom: 5px; }