/**
 * Основные стили
 */

body {
	font-size: 12px;
	font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px;
	color: #000;
	background-color: #fbfcfc;
}


/**
 * Ссылки
 */
a 		{ color: #3f8ad7; }
a:hover { color: #f00; }

.text a:visited { color: #1D2273; }


/**
 * Заголовки
 */
h1, h2, h3, h4, h5, h6 { font-family: 'PT Sans', Arial, sans-serif; }
.h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'PT Sans', Arial, sans-serif; margin-bottom: 15px; line-height: 1.2em; }

.h1 { font-size: 28px; }
.h2 { font-size: 26px; }
.h3 { font-size: 24px; }
.h4 { font-size: 22px; }
.h5 { font-size: 20px; }
.h6 { font-size: 18px; }

.page-header      { color: #333; font-size: 27px; line-height: 1em; font-weight: normal; margin-bottom: 20px; }
.page-header span { color: #aaa; }
.page-header i    { vertical-align: middle; }

.header-table      { margin-bottom: 10px; font-size: 22px; font-weight: normal; }
.header-table a    { color: #275ec2; }
.header-table span { color: #949aa1; }


/**
 * Шапка сайта
 */
#header .site-name 			{ font-size: 25px; line-height: 1em; float: left; padding-top: 11px; margin-right: 30px; margin-left: 18px; }
#header .site-name a 		{ color: #fff; text-decoration: none; }
#header .site-name a:hover 	{ color: #eee; }

#header .new-messages { position: absolute; top: 0; right: 205px; color: #f9de7e; font-size: 11px; margin-right: 11px; margin-top: 18px; line-height: 1em; text-decoration: none; }
#header .new-messages i { position: relative; top: -1px; }
.mozilla #header .new-messages i { top: 0; }

#header .dropdown-user { 
	width: 89px; 
	height: 51px; 
	line-height: 47px; 
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 60px; 
	padding-left: 54px; 
	
	background: #353535;
	background: -moz-linear-gradient(top,  #353535 0%, #020202 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#353535), color-stop(100%,#020202));
	background: -webkit-linear-gradient(top,  #353535 0%,#020202 100%);
	background: -o-linear-gradient(top,  #353535 0%,#020202 100%);
	background: -ms-linear-gradient(top,  #353535 0%,#020202 100%);
	background: linear-gradient(top,  #353535 0%,#020202 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#020202',GradientType=0 );
}
#header .dropdown-user.opened 							{ background: #1d1d1d; }
#header .dropdown-user .dropdown-user-trigger 			{ position: absolute; top: 0; right: 0; width: 36px; height: 51px; border-left: 1px solid #272727; cursor: pointer; }
#header .dropdown-user .dropdown-user-trigger i 		{ position: absolute; top: 23px; left: 14px; height: 0; width: 0; border: 4px solid transparent; border-top-color: #949aa1; }
#header .dropdown-user .dropdown-user-trigger:hover,
#header .dropdown-user.opened .dropdown-user-trigger 	{ background: #093357; }
#header .dropdown-user .dropdown-user-trigger:hover i,
#header .dropdown-user.opened .dropdown-user-trigger i	{ border-top-color: #fff; }
#header .dropdown-user .dropdown-user-shadow			{ height: 51px; width: 51px; background: url(../images/icons-synio.png) 0 -230px no-repeat; position: absolute; top: 0; right: 36px; }
#header .dropdown-user.opened .dropdown-user-shadow		{ background-position: 0 -281px; }
#header .dropdown-user .username 						{ color: #cfcfcf; font-size: 11px; text-decoration: underline; white-space: nowrap; max-width: 89px; overflow: hidden; display: block; }
#header .dropdown-user .username:hover 					{ color: #aaa; }
#header .dropdown-user .avatar 							{ position: absolute; top: 11px; left: 13px; width: 30px; height: 30px; }

#header .auth { position: absolute; top: 0; right: 0; line-height: 49px; font-size: 11px; margin-right: 17px; }
#header .auth li { float: left; margin-left: 23px; }
#header .auth li a { color: #cfcfcf; text-decoration: none; }
#header .auth li a.sign-in { color: #7dc6ff; }


/**
 * Футер
 */
#footer .copyright { float: right; width: 255px; }
#footer .copyright .design-by { overflow: hidden; line-height: 15px; margin-top: 30px; }
#footer .copyright .design-by .icon-xeoart { float: left; margin-right: 10px; margin-top: 3px; }
#footer .copyright .design-by div { font-size: 10px; color: #8b9191; margin-top: 1px; }
#footer a { color: #000; }
#footer a:hover { color: #333; }
#footer .footer-list { float: left; width: 138px; padding-right: 20px; }
#footer .footer-list li { margin-bottom: 3px; }
#footer .footer-list .footer-list-header { font-size: 12px; font-weight: bold; margin-bottom: 11px; }
#footer .footer-list a { color: #4c4c4c; }


/**
 * Навигация
 */
#nav .button.button-write { float: right; margin-left: 35px; margin-top: 1px; }
#nav .nav.nav-menu { margin-top: 1px; }
#nav .search-header { float: right; }
#nav .search-header .search-header-show { font-size: 11px; margin-top: 4px; }
#nav .search-header .search-header-show a { color: #878e96; border-color: #878e96; }
#nav .search-header .search-header-show a:hover { color: #f00; border-color: #f00; }
#nav .search-header .search-form { position: relative; top: 0px; padding: 0; margin: 0; border-radius: 0; }


/**
 * Talk
 */
.talk-search { padding: 15px; background: #f8fbfe; border-radius: 5px; margin-bottom: 35px; }
.talk-search header { position: relative; min-height: 27px; }
.talk-search header .close { position: absolute; top: 3px; right: 0; font-size: 11px; cursor: pointer; }
.talk-search .talk-search-content { display: none; padding-top: 15px; border-top: 1px solid #fff; }
.talk-search .talk-search-content p { margin-bottom: 25px; }
.talk-search.opened header { border-bottom: 1px solid #e8eef5; padding-bottom: 15px; }
.talk-search.opened .talk-search-content { display: block; }

.talk-search.talk-friends header .close { left: 0; right: auto; }
.talk-search.talk-friends .friend-list { margin-bottom: 15px; font-weight: bold; }
.talk-search.talk-friends .friend-list li { margin-bottom: 5px; }

.talk-blacklist-form { padding: 15px; background: #f8fbfe; border-radius: 5px; margin-bottom: 15px; }


/**
 * Misc
 */
.drafts { float: right; font-size: 11px; color: #275ec2; }

.content-error { padding: 110px 160px; }
.content-error h2.page-header { font-weight: bold; font-size: 30px; margin-bottom: 35px; }
.content-error a { color: #727a90; }
.content-error a:hover { color: #f00; }