/**
 * Buttons
 */

.button {
	border-color: #dfe3e8;
	border-radius: 5px;
	color: #434343;
	font-family: Verdana, sans-serif;
	padding-bottom: 2px;

	background: #fbfcfc;
	background: -moz-linear-gradient(top,  #fbfcfc 0%, #f0f2f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfcfc), color-stop(100%,#f0f2f5));
	background: -webkit-linear-gradient(top,  #fbfcfc 0%,#f0f2f5 100%);
	background: -o-linear-gradient(top,  #fbfcfc 0%,#f0f2f5 100%);
	background: -ms-linear-gradient(top,  #fbfcfc 0%,#f0f2f5 100%);
	background: linear-gradient(top,  #fbfcfc 0%,#f0f2f5 100%);
}
.button:hover { background: #f0f2f5; color: #434343; }

.button:active,
.button.active {
	background: #edf8fd;
	color: #628fa5;
	box-shadow: inset 0 1px 2px #b4d5e2;
	border-color: #D1ECF7;
}

a.button { padding-top: 4px; }

.button i { top: 1px; }

.mozilla a.button { padding-top: 3px; }
.mozilla .button { padding-bottom: 3px; }
.mozilla .button i { top: 2px; }
.mozilla .button.button-icon i { top: 1px; }

.ie7 a.button { padding-top: 4px; padding-bottom: 6px; }


/**
 * Button Small
 */
.button-small { padding-bottom: 1px; }
.button-small i { top: 0; }

.mozilla .button-small { padding-bottom: 2px; }
.mozilla .button-small i { top: 1px; }

.ie7 a.button-small { padding-top: 4px; padding-bottom: 4px; }


/**
 * Button Large
 */
.button-large { padding-bottom: 1px; }
.button-large i { top: 1px; }

a.button-large { padding-top: 7px; }

.mozilla .button-large { padding-bottom: 2px; }
.mozilla a.button-large { padding-top: 6px; }
.mozilla .button-large i { top: 2px; }

.ie .button-large.button-icon i,
.webkit .button-large.button-icon i { top: 0; }

.ie7 a.button-large { padding-top: 7px; padding-bottom: 7px; }
.ie7 .button-large i { top: 0; }
.ie7 .button-large.button-icon i { top: 1px; }


/* Button Primary */
.button-primary { 
	background: #2abcfe;
	background: -moz-linear-gradient(top,  #66cfff 0%, #2abcfe 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#66cfff), color-stop(100%,#2abcfe));
	background: -webkit-linear-gradient(top,  #66cfff 0%,#2abcfe 100%);
	background: -o-linear-gradient(top,  #66cfff 0%,#2abcfe 100%);
	background: -ms-linear-gradient(top,  #66cfff 0%,#2abcfe 100%);
	background: linear-gradient(top,  #66cfff 0%,#2abcfe 100%);
	
	border-color: #27ace8;
	color: #fff;
}
.button-primary:hover { background: #2abcfe; color: #fff; }

.button-primary:active,
.button-primary.active {
	background: #2abcfe;
	color: #fff;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
	border-color: #27ace8;
}


/* Button Write */
.button.button-write,
a.button.button-write { 
	background: #66cfff;
	background: -moz-linear-gradient(top,  #66cfff 0%, #2abcfe 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#66cfff), color-stop(100%,#2abcfe));
	background: -webkit-linear-gradient(top,  #66cfff 0%,#2abcfe 100%);
	background: -o-linear-gradient(top,  #66cfff 0%,#2abcfe 100%);
	background: -ms-linear-gradient(top,  #66cfff 0%,#2abcfe 100%);
	background: linear-gradient(top,  #66cfff 0%,#2abcfe 100%);
	
	border: 1px solid #27ace8;
	
	padding: 5px 15px 0;
	border-radius: 15px;
	
	color: #fff;
	font-size: 11px;
}
.button.button-write:hover { 
	background: #4ec4ff;
	background: -moz-linear-gradient(top,  #4ec4ff 0%, #22b3fe 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ec4ff), color-stop(100%,#22b3fe));
	background: -webkit-linear-gradient(top,  #4ec4ff 0%,#22b3fe 100%);
	background: -o-linear-gradient(top,  #4ec4ff 0%,#22b3fe 100%);
	background: -ms-linear-gradient(top,  #4ec4ff 0%,#22b3fe 100%);
	background: linear-gradient(top,  #4ec4ff 0%,#22b3fe 100%);

	-webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, .5) inset; 
	   -moz-box-shadow: 0 -1px 0 rgba(255, 255, 255, .5) inset; 
	        box-shadow: 0 -1px 0 rgba(255, 255, 255, .5) inset;  
}


/**
 * Button Slide
 */
.button-slider span       { display: none; padding-left: 5px; }
.button-slider:hover span { display: inline; }


/**
 * Button Action
 */
.button-action {
	border-color: #A9D3EE;
	color: #5190B7;
	background: #c8f5ff;
	background: -moz-linear-gradient(top,  #c8f5ff 0%, #88c4ea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8f5ff), color-stop(100%,#88c4ea));
	background: -webkit-linear-gradient(top,  #c8f5ff 0%,#88c4ea 100%);
	background: -o-linear-gradient(top,  #c8f5ff 0%,#88c4ea 100%);
	background: -ms-linear-gradient(top,  #c8f5ff 0%,#88c4ea 100%);
	background: linear-gradient(top,  #c8f5ff 0%,#88c4ea 100%);
}
.button-action.active,
.button-action:hover {
	color: #fff;
	border-color: #0362eb;
	background: #228dfa;
	background: -moz-linear-gradient(top, #228dfa 0%, #0362eb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#228dfa), color-stop(100%,#0362eb));
	background: -webkit-linear-gradient(top, #228dfa 0%,#0362eb 100%);
	background: -o-linear-gradient(top, #228dfa 0%,#0362eb 100%);
	background: -ms-linear-gradient(top, #228dfa 0%,#0362eb 100%);
	background: linear-gradient(top, #228dfa 0%,#0362eb 100%);
}


.button-action-add-friend:hover i { background-position: -147px -39px; }
.button-action-send-message:hover i { background-position: -163px -39px; }
.button-action-join.active i,
.button-action-join:hover i { background-position: -179px -39px; }


/**
 * Button Note
 */
.button-note {
	border-color: #B5F5BB;
	background: #ccf4d0;
	background: -webkit-linear-gradient(top,  #e9fdea 0%,#ccf4d0 100%);
	background: -moz-linear-gradient(top,  #e9fdea 0%,#ccf4d0 100%);
	background: -o-linear-gradient(top,  #e9fdea 0%,#ccf4d0 100%);
	background: -ms-linear-gradient(top,  #e9fdea 0%,#ccf4d0 100%);
	background: linear-gradient(top,  #e9fdea 0%,#ccf4d0 100%);
}
.button-note:hover {
	border-color: #4ace56;
	background: #4ace56;
	background: -webkit-linear-gradient(top,  #6ce777 0%,#4ace56 100%);
	background: -moz-linear-gradient(top,  #6ce777 0%,#4ace56 100%);
	background: -o-linear-gradient(top,  #6ce777 0%,#4ace56 100%);
	background: -ms-linear-gradient(top,  #6ce777 0%,#4ace56 100%);
	background: linear-gradient(top,  #6ce777 0%,#4ace56 100%);
	cursor: help;
}

/* TODO: Remove hack */
.button-note i { top: 1px; }
.button-note:hover i { background-position: -46px -65px; }