/**
 * Формы
 */

button,
input,
select,
textarea {
	font-family: Verdana, sans-serif;
}

/* Input Text */
textarea,
input[type="text"],
input[type="password"],
.input-text {
	padding: 5px 5px 6px;
	border: 1px solid #c9c9c9;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.07) inset; 
	box-shadow: 0 2px 4px rgba(0,0,0,.07) inset;
	border-radius: 3px;
	vertical-align: middle;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
.input-text:focus 	{ border-color: #57BCEB; -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.07) inset, 0 0 3px #00A8FF; box-shadow: 0 2px 4px rgba(0,0,0,.07) inset, 0 0 3px #00A8FF; outline: none; }

select 		{ padding: 4px; border: 1px solid #ddd; border-radius: 3px; }

fieldset { margin-bottom: 30px; padding-top: 20px; border-top: 1px solid #eaeaea; }
fieldset legend { color: #000; font-size: 18px; padding-right: 10px; }

form p { margin-bottom: 20px; }
form label { display: block; margin-bottom: 3px; }
form .icon-question-sign { cursor: help; }

.note { display: block; margin-top: 3px; font-size: 11px; line-height: 16px; color: #aaa; }
.note.note-header { margin-bottom: 20px; }

.captcha-image { vertical-align: top; }

.counter-wrapper { margin-bottom: 15px; position: relative; }
.counter-wrapper .counter { color: #777; position: absolute; top: 0; right: 0; }
.counter-wrapper label { margin-right: 50px; }

dl.form-item { overflow: hidden; zoom: 1; margin-bottom: 20px; }
dl.form-item dt { float: left; width: 125px; padding-top: 4px; padding-right: 15px; overflow: hidden; }
dl.form-item dd { float: left; width: 250px; }

.form-profile { position: relative; }
.form-profile .avatar-change { position: absolute; top: 20px; right: 20px; font-size: 11px; }
.form-profile .avatar-change .avatar { width: 80px; border-radius: 5px; margin-bottom: 10px; background: #fff; padding: 5px; -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2); box-shadow: 0 0 5px rgba(0,0,0,.2); }
.form-profile .avatar-change img { width: 80px; vertical-align: top; }
.form-profile .avatar-change a { color: #727a90; border-color: #727a90; }


/* Валидатор 
---------------------------------------------------------------*/
.validate-error-hide { display: none; }
.validate-error-show { 	
	display: block;
	line-height: 16px;
	position: relative; 
	padding: 10px 15px 12px 38px;
	background: #fefef1 url(../images/error.png) 15px 12px no-repeat;
	color: #363636; 
	margin-top: 13px; 
	font-size: 12px; 
	border-radius: 3px; 
	-webkit-box-shadow: 0 1px 5px #e8e8c0 inset; box-shadow: 0 1px 5px #e8e8c0 inset; 
}
.validate-error-show:after {
	content: "";
	position: absolute;
	top: 12px;
	left: 15px;
	width: 15px;
	height: 14px;
	background: url(../images/icons/validation-error.png) 0 0 no-repeat;
}
.validate-error-show:before {
	content: "";
	position: absolute;
	top: -12px;
	left: 15px;
	width: 0;
	height: 0;
	border-width: 6px;
	border-color: transparent transparent #F2F2DD transparent;
	border-style: solid;
}

/**
 * Блок редактирования аватара
 *
 * @file actions/ActionSettings/profile.tpl
 */
.avatar-edit       { margin-bottom: 15px; }
.avatar-edit img   { vertical-align: bottom; }
.avatar-edit label { margin-top: 10px; }


/**
 * Справка по разметке редактора
 *
 * @file editor_help.tpl
 */
.editor-help header   { margin-bottom: 20px; } 
.editor-help header a { font-size: 11px; color: #000; border-color: #000; } 

.editor-help-body { 
	display: none;
	position: relative; 
	padding: 15px 20px;
	margin-bottom: 20px;
	background: #fefef1; 
	color: #363636; 
	margin-top: 13px; 
	font-size: 11px; 
	border-radius: 3px; 
	-webkit-box-shadow: 0 0 5px #e8e8c0 inset; 
	        box-shadow: 0 0 5px #e8e8c0 inset; 
}
.editor-help-body:before 	{
	display: block;
	content: "";
	position: absolute;
	top: -12px;
	left: 15px;
	width: 0;
	height: 0;
	border-width: 6px;
	border-color: transparent transparent #F2F2DD transparent;
	border-style: solid;
}
.editor-help-body h3 { font-size: 18px; font-weight: bold; margin-bottom: 10px; }

.editor-help-col             { float: left; width: 47%; margin-left: 6%; }
.editor-help-col:first-child { margin-left: 0; }

.editor-help-item            { margin-bottom: 20px; }
.editor-help-item:last-child { margin-bottom: 0; }
.editor-help-item h4         { font-family: Verdana, sans-serif; font-size: 11px; color: #727a90; font-weight: bold; }
.editor-help-item h4 a       { color: #727a90; border-bottom: 1px dotted #727a90; }


/**
 * Форма регистрации
 *
 * @file form.auth.signup.tpl
 */
.form-signup p i                        { position: relative; top: -1px; }
.form-signup p.form-signup-field-submit { margin: 0; }

/* Стили для формы регистрации расположенной на отдельной странице */
.form-signup-page                             { background: #f8fbfe; border-radius: 5px; padding: 10px 0; }
.form-signup-page p                           { padding: 10px 20px; margin-bottom: 0; overflow: hidden; position: relative; }
.form-signup-page p.form-signup-field-captcha { padding: 20px 20px; margin: 10px 0; background: #f1f7fd; }
.form-signup-page p.form-signup-field-submit  { padding: 10px 20px 10px 170px; }
.form-signup-page p label                     { float: left; width: 135px; padding: 4px 15px 0 0; }
.form-signup-page p small                     { margin-left: 150px; width: 247px; }
.form-signup-page p i                         { top: -4px; }
.form-signup-page p .icon-validation-success            { position: absolute; top: 14px; left: 545px; }
.form-signup-page p .icon-validation-success:after {
	width: 64px;
	height: 0;
	content: "";
	position: absolute;
	top: 9px;
	right: 20px;
	border-bottom: 1px dotted #D2D5D9;
}


/**
 * Форма поиска
 *
 * @file forms/form.search.base.tpl
 */
.search-form                    { margin-bottom: 35px; padding: 15px; background: #f8fbfe; border-radius: 5px; }
.search-form-search             { position: relative; }
.search-form-input[type="text"] { padding-right: 25px; }

.search-form-submit {
	position: absolute;
	top: 3px;
	right: 3px;
	width: 22px;
	height: 22px;
	border: none;
	background: url(../images/icons-synio.png) -319px -24px no-repeat;
	cursor: pointer;
}
.search-form-submit:hover  { background-position: -341px -24px; }
.search-form-submit:active { background-position: -363px -24px; }

.search-form-alphabet                   { overflow: hidden; zoom: 1; margin-top: 15px; }
.search-form-alphabet li                { float: left; }
.search-form-alphabet li a              { float: left; color: #727a90; text-decoration: none; padding: 1px 5px; border-radius: 3px; }
.search-form-alphabet li a span         { border-bottom: 1px dotted #727a90; }
.search-form-alphabet li a:hover        { background: #64ceff; color: #fff; }
.search-form-alphabet li a:hover span   { border: none; }
.search-form-alphabet li.active a       { color: #333; }
.search-form-alphabet li.active a:hover { color: #333; background: none; }
.search-form-alphabet li.active a span  { border: none; }


/**
 * Форма авторизации
 *
 * @template forms/form.auth.*.tpl
 */
.form-auth-captcha {
	width: 80px;
	height: 60px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	background-repeat: no-repeat;
	background-color: #eee;
}