/**
 * Топики
 */

/**
 * Основные стили
 */
.topic { margin-bottom: 50px; }
.topic:last-child { margin-bottom: 0; }

/* Хидер */
.topic-header { margin-bottom: 20px; }

.topic-header .topic-title         { font-size: 27px; line-height: 1.1em; font-weight: normal; margin: 0 0 10px; }
.topic-header .topic-title a       { text-decoration: underline; color: #275ec2; }
.topic-header .topic-title a:hover { color: #f00; }
.topic-header .topic-title i       { position: relative; top: 9px; cursor: help; margin-right: 5px; }

.topic-header .topic-info                   { margin-bottom: 25px; color: #777; }
.topic-header .topic-info time              { margin-right: 15px; }
.topic-header .topic-info .topic-blog       { font-family: 'PT Sans', sans-serif; font-size: 18px; color: #000; text-decoration: underline; }
.topic-header .topic-info .topic-blog:hover { color: #666; }
.topic-header .topic-info .blog-list-info   { position: relative; top: 5px; }

.topic-actions             { background: #fcfce9; border-radius: 5px; padding: 10px 15px; font-size: 11px; overflow: hidden; }
.topic-actions li          { float: left; margin-right: 18px; }
.topic-actions li.draft a  { color: #27964c; }
.topic-actions li.delete a { color: #da4242; }
.topic-actions li i        { margin-right: 3px; }

/* Превью */
.topic-preview-image { display: inline-block; max-width: 100%; }

.topic-preview-image .topic-preview-image-inner {
	border: 10px solid #F1F4F7;
	margin-bottom: 25px;
	cursor: pointer;
	position: relative;
	min-width: 300px;

	min-height: 200px;
	background: #fafafa;
}
.topic-preview-image img         { vertical-align: top; display: block; margin: 0 auto; max-width: 100%; position: relative; z-index: 1; }

.topic-preview-image.loading     { background: #fafafa url(../images/loader.gif) 50% 50% no-repeat; }
.topic-preview-image.loading img { display: none; }

.topic-preview-image .topic-preview-image-count {
	font-size: 13px;
	font-family: Arial;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	position: absolute;
	top: 5px;
	right: 5px;
	background: #000;
	padding: 4px 7px;
	background: rgba(0,0,0,.6);
	z-index: 2;
}
.ie7 .topic-preview-image .topic-preview-image-count i { margin-right: 3px; }
.topic-preview-image .topic-preview-image-desc {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	overflow: hidden;
	line-height: 20px;
	background: #000;
	background: rgba(0,0,0,.7);
	max-height: 20%;
	border: 15px solid transparent;
	z-index: 2;
}
.oldie .topic-preview-image .topic-preview-image-desc { border-color: #000; }

/* Содержимое топика */
.topic-content 		{ margin-bottom: 15px; }
.topic-content.text 	{ color: #333; }

/* Теги */
.topic-tags                        { margin: 0 0 10px; font-size: 11px; }
.topic-tags li                     { display: inline; color: #888; }
.topic-tags li i                   { position: relative; top: 4px; margin-right: 3px; }
.topic-tags li a                   { color: #4c4c4c; text-decoration: underline; }
.topic-tags li a:hover             { text-decoration: none; }
.topic-tags li a.link-dotted       { text-decoration: none; color: #7b848d; border-color: #7b848d; }
.topic-tags li a.link-dotted:hover { color: #333; border-color: #333; }
.topic-tags li.topic-tags-edit     { margin-left: 20px; }
.topic-tags li.topic-tags-user a   { color: #139643; }

/* Подвал топика */
.topic-footer .topic-info 		{ overflow: hidden; border-top: 1px solid #e7ebed; padding-top: 8px; font-size: 11px; line-height: 11px; }
.topic-footer .topic-info li 	{ float: left; margin-right: 10px; border-right: 1px solid #fff; padding: 6px; }
.topic-footer .topic-info li a 	{ text-decoration: none; }

.topic-footer .topic-info li.topic-info-vote { float: right; padding: 0; margin-right: 0; overflow: hidden; }

.topic-footer .topic-info li.topic-info-author         { padding: 4px 0; }
.topic-footer .topic-info li.topic-info-author a       { text-decoration: underline; }
.topic-footer .topic-info li.topic-info-author a:hover { }
.topic-footer .topic-info li.topic-info-author a img   { width: 16px; height: 16px; vertical-align: middle; margin-right: 2px; }

.topic-footer .topic-info li.topic-info-date { color: #7b848d; }

.topic-footer .topic-info li.topic-info-share         { padding: 6px; cursor: pointer; border-radius: 4px; position: relative; }
.topic-footer .topic-info li.topic-info-share i       { float: left; }
.topic-footer .topic-info li.topic-info-share.open,
.topic-footer .topic-info li.topic-info-share:hover   { background: #64ceff; }
.topic-footer .topic-info li.topic-info-share.open i,
.topic-footer .topic-info li.topic-info-share:hover i { background-position: -12px -51px; }

.topic-footer .topic-info li.topic-info-comments a          { color: #727fa0; float: left; }
.topic-footer .topic-info li.topic-info-comments a:hover    { color: #f00; }
.topic-footer .topic-info li.topic-info-comments a.new      { color: #000; }
.topic-footer .topic-info li.topic-info-comments span       { text-decoration: underline; }
.topic-footer .topic-info li.topic-info-comments span.count { color: #27a736; text-decoration: none; }
.topic-footer .topic-info li.topic-info-comments i          { float: left; margin-right: 7px; }

.topic-footer .topic-info li.topic-info-favourite                   { padding: 6px; color: #828a93; border-radius: 4px; cursor: pointer; }
.topic-footer .topic-info li.topic-info-favourite .favourite        { float: left; }
.topic-footer .topic-info li.topic-info-favourite .favourite-count  { margin-left: 4px;}
.topic-footer .topic-info li.topic-info-favourite:hover             { background: #64ceff; color: #fff; }
.topic-footer .topic-info li.topic-info-favourite:hover .favourite  { background-position: 0 -51px; }


/**
 * Топик фотосет
 * 
 * @type photoset
 * @file topics/topic.photoset.tpl
 */
.topic.topic-type-photoset .topic-content { margin-bottom: 25px; }

/**
 * Топик ссылка
 * 
 * @type link
 * @file topics/topic.link.tpl
 */
.topic-type-link .topic-header .topic-title a { color: #27964C; }

.topic-type-link .topic-url         { font-size: 11px; margin-bottom: 30px; padding-top: 10px; }
.topic-type-link .topic-url a       { color: #27964C; }
.topic-type-link .topic-url a:hover { color: #f00; }

/**
 * Предпросмотр топика
 * 
 * @file topics/topic_preview_X.tpl
 */
.topic-preview                      { margin-top: 30px; }
.topic-preview .profile-page-header { border-top: 1px solid #ddd; }
.topic-preview .topic               { margin-bottom: 20px; }

/**
 * Личное сообщение
 * TODO: Move to talk.css
 * 
 * @file actions/ActionTalk/message.tpl
 */
.topic.topic-type-talk header .topic-info { background: #f8fbfe; font-size: 11px; padding: 15px; border-radius: 5px; margin-bottom: 0; }

.topic.topic-type-talk .talk-recipients            { padding: 15px; background: #f8fbfe; margin-bottom: 0; border-radius: 0; }
.topic.topic-type-talk .talk-recipients-header     { font-size: 11px; min-height: 0; }
.topic.topic-type-talk .talk-recipients-content h3 { font-size: 16px; font-weight: normal; margin-bottom: 10px; }

.topic.topic-type-talk .topic-footer .topic-info li.topic-info-favourite i { margin-right: 0; }