<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>Livestreet Profiler Plugin</name>
	<author>LiveStreet Developers Team</author>
	<homepage>http://livestreet.ru/</homepage>
	<version>1.0.0</version>
	<requires>
		<livestreet>0.4.0</livestreet>
		<plugins>

		</plugins>
	</requires>
	<description>
		Профилирование работы движка LiveStreet-движка.
	</description>
	<delegate>
		<module></module>
		<action></action>
		<template></template>
		<entity></entity>
	</delegate>
</plugin>