<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<data>
			Livestreet Profiler Plugin
		</data>
	</name>
	<author>
		<data>
			LiveStreet Developers Team
		</data>
	</author>
	<homepage>http://livestreet.ru/</homepage>
	<version>1.0.0</version>
	<requires>
		<livestreet>0.4.0</livestreet>
		<plugins>

		</plugins>
	</requires>
	<description>
		<data>
			Профилирование работы движка LiveStreet-движка.
		</data>
		<lang>
			<english>
				Profiling the engine`s working.
			</english>
		</lang>
	</description>
	<delegate>
		<module></module>
		<action></action>
		<template></template>
		<entity></entity>
	</delegate>
</plugin>