<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">Livestreet Profiler Plugin</lang>
	</name>
	<author>
		<lang name="default">LiveStreet Developers Team</lang>
	</author>
	<homepage>http://livestreet.ru</homepage>
	<settings>{profiler}</settings>
	<version>1.2.0</version>
	<requires>
		<livestreet>0.4.2</livestreet>
		<plugins>

		</plugins>
	</requires>
	<description>
		<lang name="default">Profiling the engine`s working.</lang>
		<lang name="russian">Профилирование работы движка LiveStreet-движка.</lang>
	</description>
</plugin>