/**
 * Активность
 *
 * @template actions/ActionStream/*.tpl
 */


/**
 * Список событий
 */
.activity-event-list { margin: 0 0 20px; }
.activity-date       { font-size: 15px; font-weight: bold; margin-top: 35px; padding-bottom: 5px; border-bottom: 1px solid #eee; }


/**
 * Событие
 */
.activity-event        { margin-bottom: 5px; min-height: 48px; background: #fafafa; padding: 15px 15px 15px 75px; position: relative; }
.activity-event-avatar { position: absolute; top: 15px; left: 15px; }
.activity-event-date   { display: block; color: #999; }
.activity-event-text   { padding: 10px 15px; background: #fff; border: 1px solid #eee; border-bottom-color: #ddd; margin-top: 10px; font-size: 13px; }