/**
 * Комментарии
 *
 * @file comments/*.tpl
 */

/* Блок с комментариями */
.comments { margin-bottom: 30px; }

.comments-header    { margin-bottom: 20px; }
.comments-header h3 { font-size: 24px; margin-bottom: 5px; }

/* Вспомогательный блок-обертка */
.comment-wrapper                  { position: relative; }
.comment-wrapper .comment-wrapper { padding-left: 25px; }

/* Предпросмотр текста */
.comment-preview                  { padding: 15px; margin: 0 0 10px 0; font-size: 13px; line-height: 18px; border: 1px solid #eee; }
.comment-wrapper .comment-preview { margin-left: 25px; }


/**
 * Комментарий
 *
 * @file comments/comment.tpl
 */
.comment                   { min-height: 48px; margin-bottom: 10px; padding: 10px 10px 10px 68px; position: relative; }

/* Аватар */
.comment-avatar { position: absolute; top: 10px; left: 10px; }

/** 
 * Типы комментариев
 *
 * deleted  Удаленный комментарий
 * self     Ваш комментарий
 * new      Новый, непрочитанный комментарий
 * current  Активный комментарий, который выделяется при исползование кнопки обновления в тулбаре
 */
.comment                   { background: #f7f7f7; }
.comment.comment-deleted   { background: #efd5d5; }
.comment.comment-self      { background: #c5f7ea; }
.comment.comment-new       { background: #fbfba8; }
.comment.comment-current   { background: #a5e7fa; }
.comment.comment-bad       { opacity: 0.3; filter: alpha(opacity=30); }
.comment.comment-bad:hover { opacity: 1; filter: alpha(opacity=100); }

.ls-user-role-not-admin .comment.comment-deleted { padding: 10px 15px; min-height: 0; background: #f7f7f7; color: #888; }

/* Информация */
.comment-info                       { padding: 0 70px 0 0; margin-bottom: 10px; line-height: 1.3em; position: relative; overflow: hidden; }
.comment-info li                    { float: left; margin-right: 10px; }
.comment-info a                     { text-decoration: none; }
.comment-info .comment-author a     { font-weight: bold; }
.comment-info .comment-topic-author { background: #C9A518; color: #fff; font-size: 11px; padding: 1px 7px; margin-right: 5px; }
.comment-info .comment-date a       { color: #999; border-color: #999; }
.comment-info .comment-goto-child   { display: none; }
.comment-info .vote                 { position: absolute; top: 0; right: 0; margin: 0; }

/* Содержимое комментария */
.comment-content { margin-bottom: 10px; }

.comment-content.text            { font-size: 13px; }
.comment-content.text blockquote { background: #fff; border-color: #ccc; padding: 5px 10px; margin-bottom: 5px; }

/* Кнопки */
.comment-actions li { display: inline; margin-right: 10px; }


/**
 * Форма комментирования
 *
 * @file comments/comment_tree.tpl
 */
.comment-reply          { padding-bottom: 10px; }
.comment-reply textarea { height: 150px; }

.comment-wrapper .comment-reply { margin-left: 25px; }

.comment-reply-header { font-size: 20px; margin-bottom: 15px; }


/**
 * Стили для списка комментариев
 *
 * @file comments/comment_list.tpl
 */
.comment.comment-list-item { margin-bottom: 20px; }
.comment.comment-list-item .vote .vote-up,
.comment.comment-list-item .vote .vote-down { display: none; }

.comment-path                    { background: #eee; padding: 5px 10px 6px; border-top: 1px solid #ddd; }
.comment-path .comment-path-blog { color: #777; }


/**
 * Пагинация комментариев
 *
 * @template comments/comment_pagination.tpl
 */
.pagination.pagination-comments { margin-bottom: 20px; }