/**
 * Формы
 */


/**
 * Блок редактирования аватара
 *
 * @file actions/ActionSettings/profile.tpl
 */
.avatar-edit       { margin-bottom: 15px; }
.avatar-edit img   { vertical-align: bottom; }
.avatar-edit label { margin-top: 10px; }


/**
 * Справка по разметке редактора
 *
 * @file editor_help.tpl
 */
.editor-help header { margin-bottom: 20px; } 

.editor-help-body { 
	display: none;
	padding: 20px;
	margin-bottom: 20px;
	background: #f7f7f7; 
	color: #333;
}
.editor-help-body h3 { font-size: 18px; font-weight: bold; margin-bottom: 10px; }

.editor-help-col             { float: left; width: 47%; margin-left: 6%; }
.editor-help-col:first-child { margin-left: 0; }

.editor-help-item            { margin-bottom: 20px; }
.editor-help-item:last-child { margin-bottom: 0; }
.editor-help-item h4         { font-family: monospace; font-weight: bold; margin-bottom: 3px; }


/**
 * Форма поиска
 *
 * @file forms/form.search.base.tpl
 */
.search-form                    { padding: 15px; margin-bottom: 20px; background: #f7f7f7; }
.search-form-search             { position: relative; }
.search-form-input[type="text"] { padding-right: 30px; }

.search-form-submit       { border: none; position: absolute; top: 7px; right: 7px; cursor: pointer; opacity: .7; filter: alpha(opacity=70); }
.search-form-submit:hover { opacity: 1; filter: alpha(opacity=100); }

.search-form-alphabet             { margin-top: 10px; overflow: hidden; }
.search-form-alphabet li          { float: left; margin-right: 10px; }
.search-form-alphabet li.active a { color: #333; border: none; }


/**
 * Форма авторизации
 *
 * @template forms/form.auth.*.tpl
 */
.form-auth-captcha {
	width: 80px;
	height: 60px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	background-repeat: no-repeat;
	background-color: #eee;
}