/* -------------------------------------------------------------------
	ОСНОВНЫЕ СТИЛИ
------------------------------------------------------------------- */

body {
	font-size: 12px;
	font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px;
	color: #333;
	background-color: #fbfcfc;
}



/* Ссылки
---------------------------------------------------- */
a 		{ color: #3f8ad7; }
a:hover { color: #f00; }

a.link-dashed 		{ border-bottom: 1px dashed #5055b2; }
a.link-dashed:hover { border-color: #06e; }

a.link-dotted 		{ text-decoration: none; border-bottom: 1px dotted #5055b2; }
a.link-dotted:hover { border-color: #06e; }



/* Заголовки
---------------------------------------------------- */
h2.page-header { color: #333; font-size: 27px; line-height: 1em; font-weight: bold; margin-bottom: 20px; }
h2.page-header span { color: #aaa; }

h2.header-table { margin-bottom: 0; border-bottom: 1px solid #eee; padding-bottom: 5px; font-size: 14px; font-weight: bold; }






/* Шапка сайта
---------------------------------------------------- */
#header .site-name 			{ font-size: 25px; line-height: 1em; text-transform: lowercase; float: left; padding-top: 11px; margin-right: 30px; margin-left: 18px; }
#header .site-name a 		{ color: #fff; text-decoration: none; }
#header .site-name a:hover 	{ color: #eee; }

#header .dropdown-user { 
	min-width: 89px; 
	height: 51px; 
	line-height: 47px; 
	float: right;
	position: relative;
	padding-right: 60px; 
	padding-left: 54px; 
	
	background: #353535;
	background: -moz-linear-gradient(top,  #353535 0%, #020202 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#353535), color-stop(100%,#020202));
	background: -webkit-linear-gradient(top,  #353535 0%,#020202 100%);
	background: -o-linear-gradient(top,  #353535 0%,#020202 100%);
	background: -ms-linear-gradient(top,  #353535 0%,#020202 100%);
	background: linear-gradient(top,  #353535 0%,#020202 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#020202',GradientType=0 );
}
#header .dropdown-user .dropdown-user-trigger 			{ position: absolute; top: 0; right: 0; width: 36px; height: 51px; border-left: 1px solid #272727; cursor: pointer; }
#header .dropdown-user .dropdown-user-trigger i 		{ position: absolute; top: 23px; left: 14px; height: 0; width: 0; border: 4px solid transparent; border-top-color: #949aa1; }
#header .dropdown-user .dropdown-user-trigger.opened 	{ background: #093357; }
#header .dropdown-user .dropdown-user-trigger.opened i	{ border-top-color: #fff; }
#header .dropdown-user .username 						{ color: #cfcfcf; font-size: 11px; text-decoration: underline; }
#header .dropdown-user .username:hover 					{ color: #aaa; }
#header .dropdown-user .avatar 							{ position: absolute; top: 11px; left: 13px; width: 30px; height: 30px; }

.dropdown-menu.dropdown-user-menu	{ background: #1d1d1d; border: none; border-top: 1px solid #000; border-radius: 0 0 10px 10px; box-shadow: 0 0 7px rgba(0, 0, 0, .5); }
.dropdown-menu.dropdown-user-menu li { border-bottom: 1px solid #000; border-top: 1px solid #393939; position: relative; }
.dropdown-menu.dropdown-user-menu li a { height: 50px; padding: 0 10px 0 55px; line-height: 50px; color: #fff; text-decoration: none; }
.dropdown-menu.dropdown-user-menu li a:hover { background: #093357; color: #fff; }
.dropdown-menu.dropdown-user-menu li i { position: absolute; top: 15px; left: 17px; width: 21px; height: 21px; background: #555; }
.dropdown-menu.dropdown-user-menu li:last-child { border-bottom: none; }

#header .auth { float: right; line-height: 49px; font-size: 11px; margin-right: 24px; }
#header .auth li { float: left; margin-left: 23px; }
#header .auth li a { color: #cfcfcf; text-decoration: none; }
#header .auth li a.sign-in { color: #7dc6ff; }



/* Футер
---------------------------------------------------- */
#footer .copyright { float: right; }



/* Навигация
---------------------------------------------------- */
#nav .button.button-write { position: absolute; top: 15px; right: 15px; }



/* Stat
---------------------------------------------------- */
.stat-performance { width: 910px; margin: 0 auto 20px; padding: 15px 20px; background: #fff; border-top: 1px solid #eee; border-bottom: 1px solid #eee; }
.stat-performance table { }
.stat-performance table td { width: 200px; vertical-align: top; }
.stat-performance h4 { font-weight: bold; }



/* Userfeed
---------------------------------------------------- */
.userfeed-get-more {display:block; width:90%; margin:0px auto; text-align:center; height:2.5em; padding-top:1em;}
.userfeed-get-more:hover { background: #f0f7fd;}
.userfeed_loading {background: #F7F7F7 url(../images/loader.gif) no-repeat center;}



/* Stream
---------------------------------------------------- */
.stream-get-more { display: block; text-align: center; padding: 12px 0; background: #fafafa; color: #aaa; border-top: 1px solid #eee; text-decoration: none; }
.stream-get-more:hover { background: #f0f7fd; }
.stream_loading { background: #f7f7f7 url(../images/loader.gif) no-repeat center; }
.stream-comment-preview { padding: 5px 10px; background: #f3f3f3; margin-top: 5px; }

.stream-list { margin: 0 0 20px; }
.stream-list li { margin-bottom: 5px; min-height: 48px; _height: 48px; background: #fafafa; padding: 10px 15px 10px 70px; position: relative; }
.stream-list li .avatar { position: absolute; top: 10px; left: 10px; }
.stream-list li .date { display: block; color: #999; }
.stream-list li a { text-decoration: none; }
.stream-list li a:hover { text-decoration: underline; }



/* Userfields
---------------------------------------------------- */
.userfield-list { width: 450px; }
.userfield-list li { background: #eee; margin-bottom: 1px; padding: 10px 10px; overflow: hidden; zoom: 1; line-height: 12px; color: #777; }
.userfield-list li .userfield-actions { float: right; }
.userfield-list li .userfield_admin_name { font-weight: bold; color: #333; }

.userfield-add { text-decoration: none; border-bottom: 1px dashed #70AAE0; }
.userfield-add:hover { color: #333; border-color: #333; }



/* Misc
---------------------------------------------------- */
.avatar-edit { margin-bottom: 15px; }
.avatar-edit img { vertical-align: bottom; }
.avatar-edit label { margin-top: 10px; }

.drafts { float: right; margin-top: 10px; }

.poll-create 					{ padding: 15px 20px; margin-bottom: 20px; background: #f7f7f7; }

.question-list 					{ margin-bottom: 15px; }
.question-list li 				{ margin-bottom: 5px; }
.question-list li .input-text	{ margin-right: 10px; }