/* --------------------------------------------
	БЛОГ
-------------------------------------------- */

.blog-top { position: relative; padding-right: 150px; }
.blog-top .vote-topic { position: absolute; top: 3px; right: 15px; }

/* Blog Mini */
.blog-mini { 
	padding: 15px;
	margin-bottom: 17px;
	font-size: 11px;
	overflow: hidden; zoom: 1;
	border-radius: 5px;

	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f9fbfb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9fbfb));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f9fbfb 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f9fbfb 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f9fbfb 100%);
	background: linear-gradient(top,  #ffffff 0%,#f9fbfb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9fbfb',GradientType=0 );
}
.blog-mini button { margin-left: 20px; }
.blog-mini .fl-r a { margin-left: 14px; color: #727a90; }
.blog-mini .fl-r a:hover { color: #f00; }
.blog-mini .fl-r a.link-dotted { border-color: #727a90; }
.blog-mini .fl-r a.link-dotted:hover { border-color: #f00; }



.blog { 
	overflow: hidden;
	margin-bottom: 17px;
	background: #f8fbfe;
	border-radius: 5px;	
	border-radius: 5px;
}
.blog-inner { padding: 20px; }


/* Header */
.blog .blog-header 			{ position: relative; padding: 10px 0 13px 78px; border-bottom: 1px solid #e8eef5; min-height: 16px; }
.blog .blog-header h2 		{ font-size: 20px; font-weight: bold; line-height: 1em; margin-top: 3px; margin-bottom: 7px; }
.blog .blog-header h2 i 	{ position: relative; top: 5px; }
.blog .blog-header .close	{ position: absolute; top: 0; right: 0; font-size: 11px; cursor: pointer; }
.blog .blog-header .close i	{ margin-left: 5px; }
.blog .blog-header .close a	{ color: #727a90; border-color: #727a90; }
.blog .blog-header .close a:hover { color: #f00; border-color: #f00; }
.blog .blog-header .avatar 	{ position: absolute; top: -10px; left: 7px; width: 39px; height: 39px; }

.blog .blog-header .vote-label	{ text-transform: uppercase; text-align: right; font-size: 11px; color: #aaa; }
.blog .blog-header .count 		{ font-size: 34px; line-height: 1em; font-weight: bold; text-align: right; }

.blog .blog-header .vote 									{ position: absolute; top: 15px; right: 15px; }
.blog .blog-header .vote .vote-count 						{ padding-left: 25px; display: block; color: #333; }
.blog .blog-header .vote .vote-up 							{ position: absolute; top: 22px; left: 0; display: none; }
.blog .blog-header .vote .vote-down 						{ position: absolute; top: 35px; left: 0; display: none; }
.blog .blog-header .vote:hover .vote-up,
.blog .blog-header .vote:hover .vote-down,
.blog .blog-header .vote.voted .vote-up,
.blog .blog-header .vote.voted .vote-down 					{ display: inline-block; }
.blog .blog-header .vote.vote-count-positive .vote-count 	{ color: #5055B2; }

.blog .blog-header .actions { margin-bottom: 0; }


/* Content */
.blog .blog-content { padding: 22px 8px 0; border-top: 1px solid #fff; }
.blog .blog-content .blog-description { margin-bottom: 50px; }
.blog .blog-content .user-avatar { margin-right: 10px; }

.blog-info { width: 300px; margin-bottom: 50px; }
.blog-info li { margin-bottom: 5px; background: url(../images/dots.png)  0% 14px repeat-x; position: relative; padding-right: 50px; }
.blog-info li span { background: #f8fbfe; padding-right: 2px; }
.blog-info li strong { width: 150px; position: absolute; top: 0; right: 0; background: #f8fbfe; padding-left: 2px; font-weight: normal; }
.blog-info li.rating strong { color: #5fa459; }



/* Footer */
.blog .blog-footer { padding: 22px 26px; background: #f1f7fd; font-size: 11px; }
.blog .blog-footer button { margin-right: 10px; }
.blog .blog-footer a { color: #727a90; }
.blog .blog-footer .admin { float: right; }
.blog .blog-footer .admin img { width: 16px; height: 16px; vertical-align: middle; margin-right: 1px; }
.blog .blog-footer .admin a { color: #4a4a4a; }


/* More Button */
.blog-more 			{ display: block; padding: 10px 0; text-align: center; text-decoration: none; background: #fafafa; }
.blog-more:hover 	{ background: #eee; }