/* -------------------------------------------------------------------
	ОБЩИЕ СТИЛИ
------------------------------------------------------------------- */

/* Голосование 
---------------------------------------------------- */
.vote-topic { height: 24px; border-radius: 15px; overflow: hidden; font-size: 11px; float: left; zoom: 1; }
.vote-topic .vote-item { 
	cursor: pointer;
	overflow: hidden;
	display: block;
	float: left;
	height: 22px;
	border: 1px solid #dfe3e8; 
	
	background: #fbfbfc;
	background: -moz-linear-gradient(top,  #fbfbfc 0%, #f0f2f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfc), color-stop(100%,#f0f2f5));
	background: -webkit-linear-gradient(top,  #fbfbfc 0%,#f0f2f5 100%);
	background: -o-linear-gradient(top,  #fbfbfc 0%,#f0f2f5 100%);
	background: -ms-linear-gradient(top,  #fbfbfc 0%,#f0f2f5 100%);
	background: linear-gradient(top,  #fbfbfc 0%,#f0f2f5 100%);
}
.vote-topic .vote-item i				{ width: 16px; height: 16px; display: block; background: url(../images/icons-synio.png) no-repeat; }
.vote-topic .vote-item span				{ display: block; border-right: 1px solid #fff; border-top: 1px solid #fefefe; }

.vote-topic .vote-item.vote-up				{ border-radius: 0 15px 15px 0; }
.vote-topic .vote-item.vote-up i			{ background-position: -83px -23px; }
.vote-topic .vote-item.vote-up span			{ padding: 2px 7px 3px 4px; border-radius: 0 15px 15px 0; }
.vote-topic.not-voted .vote-item.vote-up:hover		{ 
	background: #e4fae2;
	background: -moz-linear-gradient(top,  #e4fae2 0%, #b0e3ac 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4fae2), color-stop(100%,#b0e3ac));
	background: -webkit-linear-gradient(top,  #e4fae2 0%,#b0e3ac 100%);
	background: -o-linear-gradient(top,  #e4fae2 0%,#b0e3ac 100%);
	background: -ms-linear-gradient(top,  #e4fae2 0%,#b0e3ac 100%);
	background: linear-gradient(top,  #e4fae2 0%,#b0e3ac 100%);
	
	border-color: #e4fae2 #ccefca #afe3ab;
}
.vote-topic.not-voted .vote-item.vote-up:hover i		{ background-position: -83px -39px; }
.vote-topic.not-voted .vote-item.vote-up:hover span	{ border-color: transparent; }

.vote-topic .vote-item.vote-count 		{ color: #628fa5; line-height: 23px; border-left: transparent; border-right: transparent; }
.vote-topic .vote-item.vote-count i 	{ background-position: -99px -23px; margin-top: 1px; }
.vote-topic .vote-item.vote-count span 	{ padding: 1px 4px 5px 5px; }
.topic .vote-topic.vote-not-self.not-voted.vote-not-expired .vote-item.vote-count:hover		{ 
	background: #4ec4ff;
	background: -moz-linear-gradient(top,  #4ec4ff 0%, #22b3fe 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ec4ff), color-stop(100%,#22b3fe));
	background: -webkit-linear-gradient(top,  #4ec4ff 0%,#22b3fe 100%);
	background: -o-linear-gradient(top,  #4ec4ff 0%,#22b3fe 100%);
	background: -ms-linear-gradient(top,  #4ec4ff 0%,#22b3fe 100%);
	background: linear-gradient(top,  #4ec4ff 0%,#22b3fe 100%);

	-webkit-box-shadow: 0 -1px 0 rgba(255,255,255,.3) inset; box-shadow: 0 -1px 0 rgba(255,255,255,.3) inset;
	border-color: #27ace8;
}
.vote-topic.not-voted .vote-item.vote-count:hover i		{ background-position: -99px -87px; }
.vote-topic.not-voted .vote-item.vote-count:hover span	{ border-color: transparent; }

.vote-topic .vote-item.vote-down 		{ border-radius: 15px 0 0 15px; }
.vote-topic .vote-item.vote-down i		{ background-position: -67px -23px; }
.vote-topic .vote-item.vote-down span	{ padding: 2px 4px 3px 7px; }
.vote-topic.not-voted .vote-item.vote-down:hover		{ 
	background: #ffc8c8;
	background: -moz-linear-gradient(top,  #ffc8c8 0%, #ff8181 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc8c8), color-stop(100%,#ff8181));
	background: -webkit-linear-gradient(top,  #ffc8c8 0%,#ff8181 100%);
	background: -o-linear-gradient(top,  #ffc8c8 0%,#ff8181 100%);
	background: -ms-linear-gradient(top,  #ffc8c8 0%,#ff8181 100%);
	background: linear-gradient(top,  #ffc8c8 0%,#ff8181 100%);
	
	border-color: #ffc8c8 #fea8a8 #ff8181;
}
.vote-topic.not-voted .vote-item.vote-down:hover i	{ background-position: -67px -55px; }
.vote-topic.not-voted .vote-item.vote-down:hover span	{ border-color: transparent; }

.vote-topic.voted						{ -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.2) inset; box-shadow: 0 2px 3px rgba(0,0,0,.2) inset; }

.vote-topic.voted-down 								{ padding: 0; }
.vote-topic.voted-down .vote-item					{ border: none; background: none; }
.vote-topic.voted-down .vote-item span				{ border: none; }
.vote-topic.voted-down .vote-item.vote-down 		{ display: none; }
.vote-topic.voted-down .vote-item.vote-up span 		{ padding: 4px 8px 3px 4px; }
.vote-topic.voted-down .vote-item.vote-count 		{ color: #da4242; }
.vote-topic.voted-down .vote-item.vote-count span 	{ padding: 0 3px 0 10px !important; }
.vote-topic.vote-count-positive.voted-down .vote-item.vote-up i		{ background-position: -67px -39px; }
.vote-topic.vote-count-negative.voted-down .vote-item.vote-up i		{ background-position: -67px -55px; }

.vote-topic.voted-up 							{ padding: 0; }
.vote-topic.voted-up .vote-item					{ border: none; background: none; }
.vote-topic.voted-up .vote-item span			{ border: none; }
.vote-topic.voted-up .vote-item.vote-down 		{ display: none; }
.vote-topic.voted-up .vote-item.vote-up span 	{ padding: 4px 8px 3px 4px; }
.vote-topic.voted-up .vote-item.vote-count 		{ float: left; color: #5fa459; }
.vote-topic.voted-up .vote-item.vote-count span { padding: 0 3px 0 10px !important; }
.vote-topic.vote-count-positive.voted-up .vote-item.vote-up i		{ background-position: -83px -39px; }
.vote-topic.vote-count-negative.voted-up .vote-item.vote-up i		{ background-position: -83px -55px; }

.vote-topic.voted-zero 								{ padding: 0; }
.vote-topic.voted-zero .vote-item					{ border: none; background: none; }
.vote-topic.voted-zero .vote-item span				{ border: none; }
.vote-topic.voted-zero .vote-item.vote-down 		{ display: none; }
.vote-topic.voted-zero .vote-item.vote-up 			{  }
.vote-topic.voted-zero .vote-item.vote-up i 		{ width: 16px; background-position: -99px -23px; }
.vote-topic.voted-zero .vote-item.vote-up span 		{ padding: 4px 8px 3px 4px; }
.vote-topic.voted-zero .vote-item.vote-count 		{ float: left; color: #5fa459; }
.vote-topic.voted-zero .vote-item.vote-count span 	{ padding: 0 3px 0 10px !important; }
.vote-topic.vote-count-positive.voted-zero .vote-item.vote-up i		{ background-position: -99px -39px; }
.vote-topic.vote-count-negative.voted-zero .vote-item.vote-up i		{ background-position: -99px -55px; }

.vote-topic.vote-count-positive.vote-nobuttons,
.vote-topic.vote-count-positive	.vote-item.vote-count 	{ -webkit-box-shadow: 0 2px 3px #acd7a7 inset; box-shadow: 0 2px 3px #acd7a7 inset; }
.vote-topic.vote-count-negative.vote-nobuttons,
.vote-topic.vote-count-negative	.vote-item.vote-count 	{ -webkit-box-shadow: 0 2px 3px #e95e5e inset; box-shadow: 0 2px 3px #e95e5e inset; }
.vote-topic.vote-count-zero.vote-nobuttons,
.vote-topic.vote-count-zero	.vote-item.vote-count 		{ -webkit-box-shadow: 0 2px 3px #b4d5e2 inset; box-shadow: 0 2px 3px #b4d5e2 inset; }

.vote-topic.vote-nobuttons 								{  }
.vote-topic.vote-nobuttons .vote-item 					{ border: none; }
.vote-topic.vote-nobuttons .vote-item span 				{ border: none; }
.vote-topic.vote-nobuttons .vote-item.vote-up,
.vote-topic.vote-nobuttons .vote-item.vote-down 		{ display: none; }
.vote-topic.vote-nobuttons .vote-item.vote-count 		{ border-radius: 15px; padding: 0 5px; -webkit-box-shadow: none; box-shadow: none; }

.vote-topic.vote-count-positive .vote-item.vote-count					{ background: #def7dc; color: #5fa459; height: 24px; border: none; }
.vote-topic.vote-count-positive .vote-item.vote-count span 				{ border: none; padding: 0 7px; }
.vote-topic.vote-count-positive.voted									{ background: #def7dc; }
.vote-topic.vote-count-positive.voted .vote-item.vote-count,
.vote-topic.vote-count-positive.vote-nobuttons .vote-item.vote-count	{ -webkit-box-shadow: none; box-shadow: none; background: none; }
.vote-topic.vote-count-positive.vote-nobuttons							{ background: #def7dc; }

.vote-topic.vote-count-negative .vote-item.vote-count					{ background: #ff8a8a; color: #da4242; height: 24px; border: none; }
.vote-topic.vote-count-negative .vote-item.vote-count span 				{ border: none; padding: 0 7px; }
.vote-topic.vote-count-negative.voted									{ background: #ff8a8a; }
.vote-topic.vote-count-negative.voted .vote-item.vote-count,
.vote-topic.vote-count-negative.vote-nobuttons .vote-item.vote-count	{ -webkit-box-shadow: none; box-shadow: none; background: none; }
.vote-topic.vote-count-negative.vote-nobuttons							{ background: #ff8a8a; }

.vote-topic.vote-count-zero .vote-item.vote-count						{ background: #edf8fd; color: #628fa5; height: 24px; border: none; }
.vote-topic.vote-count-zero .vote-item.vote-count span 					{ border: none; padding: 0 7px; }
.vote-topic.vote-count-zero.voted										{ background: #edf8fd; }
.vote-topic.vote-count-zero.voted .vote-item.vote-count,
.vote-topic.vote-count-zero.vote-nobuttons .vote-item.vote-count		{ -webkit-box-shadow: none; box-shadow: none; background: none; }
.vote-topic.vote-count-zero.vote-nobuttons								{ background: #edf8fd; }



/* Избранное 
---------------------------------------------------- */
.favourite 			{ display: inline-block; width: 11px; height: 11px; vertical-align: text-top; background: url(../images/icons-synio.png) 0 -37px no-repeat; cursor: pointer; }
.favourite.active 	{ background-position: 0 -65px; }
.favourite-count    { margin-left: 0; }

.follow 			{ display: inline-block; width: 17px; height: 17px; vertical-align: text-top; background: url(../images/icons-synio.png) 0 -76px no-repeat; cursor: pointer; }
.follow.active 		{ background-position: -17px -76px; }



/* Пагинация 
---------------------------------------------------- */
.pagination 					{ overflow: hidden; zoom: 1; }
.pagination ul 					{ overflow: hidden; zoom: 1; line-height: 1em; float: left; margin-top: 5px; }
.pagination ul li 				{ float: left; margin-right: 5px; }
.pagination ul li span			{ color: #aaa; }
.pagination ul li span,
.pagination ul li a 			{ float: left; padding: 4px 6px;}
.pagination ul li a:hover 		{  }
.pagination ul li.active span 	{ color: #333; border: 1px solid #eee; border-radius: 4px; }
.pagination ul li i 			{ opacity: .5; filter: alpha(opacity=50); }
.pagination ul li.prev span,
.pagination ul li.prev a		{ padding-left: 0; }
.pagination ul li.next			{ margin-right: 50px; }



/* Actions 
---------------------------------------------------- */
.actions 						{ overflow: hidden; zoom: 1; margin-bottom: 10px; font-size: 11px; }
.actions li 					{ float: left; margin-right: 10px; }



/* Toolbar 
---------------------------------------------------- */
.toolbar 					{ position: fixed; top: 136px; z-index: 20; display: none; }
.toolbar section 			{ width: 25px; padding: 8px; overflow: hidden; line-height: 14px; background: #fff; -webkit-box-shadow: 0 0 5px rgba(0,0,0,.03); box-shadow: 0 0 5px rgba(0,0,0,.03); margin-bottom: 10px; border-radius: 10px; }
.toolbar section i			{ display: block; width: 25px; height: 25px; }

/* Admin button */
.toolbar .toolbar-admin i 			{ background: url(../images/icons-synio.png) -268px -23px no-repeat; }
.toolbar .toolbar-admin i:hover 	{ background-position: -268px -48px; }
.toolbar .toolbar-admin i:active 	{ background-position: -268px -73px; }

/* Update comments button */
.toolbar .toolbar-update {  }
.toolbar .toolbar-update .update-comments 			{  }
.toolbar .toolbar-update .update-comments i 		{ background: url(../images/update.gif) no-repeat; }
.toolbar .toolbar-update .update-comments.active i 	{ background-position: -25px 0; }
.toolbar .toolbar-update .new-comments 				{ display: block; padding: 5px 0 3px; font-size: 11px; color: #51983c; text-align: center; text-decoration: none; width: 25px; }

/* Topic navigation */
.toolbar .toolbar-topic 								{ width: 19px; padding: 11px; }
.toolbar .toolbar-topic a.toolbar-topic-prev i 			{ display: block; width: 19px; height: 32px; background: url(../images/icons-synio.png) -211px -23px no-repeat; }
.toolbar .toolbar-topic a.toolbar-topic-prev i:hover 	{ background-position: -230px -23px; }
.toolbar .toolbar-topic a.toolbar-topic-prev i:active 	{ background-position: -249px -23px; }
.toolbar .toolbar-topic a.toolbar-topic-next i			{ display: block; width: 19px; height: 32px; background: url(../images/icons-synio.png) -211px -55px no-repeat; }
.toolbar .toolbar-topic a.toolbar-topic-next i:hover 	{ background-position: -230px -55px; }
.toolbar .toolbar-topic a.toolbar-topic-next i:active 	{ background-position: -249px -55px; }

/* Scroll up */
.toolbar .toolbar-scrollup 			{ display: none; }
.toolbar .toolbar-scrollup i 		{ background: url(../images/icons-synio.png) -294px -23px no-repeat; }
.toolbar .toolbar-scrollup i:hover 	{ background-position: -294px -48px; }
.toolbar .toolbar-scrollup i:active { background-position: -294px -73px; }



/* Список пользователей 
---------------------------------------------------- */
.user-list-avatar 			{ overflow: hidden; zoom: 1; }
.user-list-avatar li 		{ width: 48px; overflow: hidden; float: left; margin-right: 12px; margin-bottom: 12px; text-align: center; font-size: 11px; }
.user-list-avatar li img	{ margin-bottom: 2px; display: block; }

.user-list-mini li 			{ padding: 0 25px 4px 5px; margin-bottom: 0; position: relative; }
.user-list-mini li img 		{ width: 17px; height: 17px; position: relative; top: 4px; margin-right: 2px; }
.user-list-mini li input 	{ position: relative; top: 2px; }
.user-list-mini li i 		{ position: absolute; top: 4px; right: 5px; cursor: pointer; display: none; }
.user-list-mini li:hover	{ background: #fcfce9; }
.user-list-mini li:hover i	{ display: block; }


/* Поиск 
---------------------------------------------------- */
.search 						{ width: 200px; margin-bottom: 20px; position: relative; }
.search .input-text 			{ width: 200px; padding-right: 25px; }
.search .input-submit 			{ border: none; width: 16px; height: 16px; position: absolute; top: 6px; right: 5px; opacity: .7; filter: alpha(opacity=70); }
.search .input-submit:hover 	{ opacity: 1; filter: alpha(opacity=100); }

.search-item 				{ margin-bottom: 35px; padding: 15px; background: #f8fbfe; }
.search-item .input-text 	{ width: 100%; padding-right: 5px; }
.search-item .submit	 	{ width: 16px; height: 16px; background: url(../images/icons-synio.png) -115px -55px no-repeat; }

.search-item.search-item-abc ul 					{ overflow: hidden; zoom: 1; margin-top: 10px; }
.search-item.search-item-abc ul li 					{ float: left; }
.search-item.search-item-abc ul li a 				{ float: left; color: #727a90; text-decoration: none; padding: 1px 5px; border-radius: 3px; }
.search-item.search-item-abc ul li a span 			{ border-bottom: 1px dotted #727a90; }
.search-item.search-item-abc ul li a:hover 			{ background: #64ceff; color: #fff; }
.search-item.search-item-abc ul li a:hover span 	{ border: none; }
.search-item.search-item-abc ul li.active a 		{ color: #333; }
.search-item.search-item-abc ul li.active a:hover 	{ color: #333; background: none; }
.search-item.search-item-abc ul li.active a span 	{ border: none; }

.search-tags 							{ margin-bottom: 15px; }

.search-form-wrapper						{ background: #f9fbfb; padding: 15px; border-radius: 5px; margin-bottom: 15px; }
.search-input-wrapper						{ position: relative; }
.search-input-wrapper .input-submit 		{ position: absolute; top: 3px; right: 3px; width: 22px; height: 22px; border: none; background: url(../images/icons-synio.png) -319px -24px no-repeat; }
.search-input-wrapper .input-submit:hover 	{ background-position: -341px -24px; }
.search-input-wrapper .input-submit:active 	{ background-position: -363px -24px; }
.search-input-wrapper .input-text 			{ padding-right: 25px; }



/* Облако тегов 
---------------------------------------------------- */
.tag-cloud	 				{ text-align: center; }
.tag-cloud li 				{ display: inline; margin-right: 5px; line-height: 22px; }
.tag-cloud li a 			{ color: #727a90; white-space: nowrap; }
.tag-cloud li a:hover 		{ color: #f00; }
.tag-cloud li .tag-size-1 	{ font-size: 12px; }
.tag-cloud li .tag-size-2 	{ font-size: 12px; }
.tag-cloud li .tag-size-3 	{ font-size: 14px; }
.tag-cloud li .tag-size-4 	{ font-size: 14px; }
.tag-cloud li .tag-size-5 	{ font-size: 18px; }
.tag-cloud li .tag-size-6 	{ font-size: 18px; }
.tag-cloud li .tag-size-7 	{ font-size: 20px; }
.tag-cloud li .tag-size-8 	{ font-size: 20px; }
.tag-cloud li .tag-size-9 	{ font-size: 22px; }
.tag-cloud li .tag-size-10 	{ font-size: 22px; }



/* Item List 
---------------------------------------------------- */
.item-list 					{ border-top: 1px solid #eee; }
.item-list li 				{ min-height: 51px; padding: 7px 0 10px 58px; border-bottom: 1px solid #eee; position: relative; zoom: 1; }
.item-list li p 			{ padding-top: 2px; font-size: 11px; }
.item-list li a 			{ text-decoration: none; }
.item-list li .avatar 		{ position: absolute; top: 10px; left: 0; margin-right: 10px; }
.item-list li .author 		{ font-weight: bold; color: #333; }
.item-list li .blog-name 	{ font-weight: bold; }



/* Хелперы
---------------------------------------------------- */
.mt-10 { margin-bottom: 10px !important; }
.mt-20 { margin-bottom: 20px !important; }

.mb-10 { margin-bottom: 10px !important; }
.mb-15 { margin-bottom: 15px !important; }
.mb-20 { margin-bottom: 20px !important; }
.mb-30 { margin-bottom: 30px !important; }

.ta-c { text-align: center !important; }
.ta-r { text-align: right !important; }
.va-m { vertical-align: middle; }
.fl-r { float: right !important; }
.fl-l { float: left !important; }

.clearfix:before,
.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix 		{ zoom: 1; }

.wrapper 			{ overflow: hidden; zoom: 1; }
.wrapper-content 	{ padding: 20px 20px; background: #f8fbfe; }
.wrapper-content h3 { font-size: 15px; margin-bottom: 10px; font-family: Verdana, sans-serif; }
.wrapper-content.wrapper-content-dark 	{ padding: 15px 20px; background: #f1f7fd; }

.word-wrap {
	white-space: -moz-pre-wrap !important;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap; 
	white-space: pre-wrap;
	word-wrap: break-word; 
	word-break: break-all;
	white-space: normal;
}



/* Разное
---------------------------------------------------- */
.system-message-error 	{ background: #f0c8c8; color: #b22626; padding: 10px 15px; margin-bottom: 15px; }
.system-message-notice 	{ background: #dafad8; color: #4bb23b; padding: 10px 15px; margin-bottom: 15px; }

.notice-empty 			{ color: #aaa; }

.loader { background: #fafafa url(../images/loader.gif) 50% 50% no-repeat; }

.user, .ls-user 	{ font-weight: bold; color: #333; }
.user .icon-user 	{ margin-right: 3px; }
.username.inactive,
.user.inactive 		{ color: #aaa !important; }

.user-avatar img { width: 16px; height: 16px; vertical-align: middle; margin-right: 1px; }
.user-avatar a { color: #000; font-size: 11px; }
.user-avatar.user-avatar-n a { color: #3F8AD7; font-size: 12px; }

.counter.exceeded { color: #f00; }

.page-header-menu { overflow: hidden; zoom: 1; margin-bottom: 10px; }
.page-header-menu .page-header { float: left; margin-right: 20px; margin-bottom: 10px; }
.page-header-menu .nav.nav-pills { margin-top: 5px; float: left; }