/**
 * Dropdowns
 */

.dropdown 			{
	margin-bottom: 15px;
	font-size: 11px;
	margin-right: 10px;
	border: 1px solid #ebf0f4;
	line-height: 13px;
	border-radius: 5px;
	padding: 3px 6px 4px;
	background: #fff;
	color: #727a90; 
	text-decoration: none;
	min-height: 10px;
	cursor: pointer;
}
.dropdown:hover { background: #fff; }
.dropdown i { position: relative; top: 2px; }
.dropdown.open 	{ border-color: #ebf0f4; color: #628fa5; background: #fff; }


/* Menu */
.dropdown-menu {
	padding: 5px 15px 8px;
	border: 3px solid #edf8fd;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	position: absolute;
	top: 32px;
	overflow: hidden;
	z-index: 10;
	background: #fff;
	min-width: 150px;
}
.dropdown-menu > li            { overflow: hidden; line-height: 1em; }
.dropdown-menu > li > a        { display: block; padding: 8px 0; white-space: nowrap; }
.dropdown-menu > li.active > a { background: #fff; color: #aaa; }
.dropdown-menu > li > a:hover  { background: #fff; color: #aaa; }

.dropdown-menu > li.divider    { height: 0; border-top: 1px solid #e1e1e1; margin: 5px 0; }


/* User menu 
-------------------------------------------*/
.dropdown-user-menu										{ width: 203px; display: none; position: absolute; background: #1d1d1d; border: none; border-top: 1px solid #000; border-radius: 0 0 10px 10px; -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .5); box-shadow: 0 0 7px rgba(0, 0, 0, .5); z-index: 30; }
.dropdown-user-menu li 									{ border-bottom: 1px solid #000; border-top: 1px solid #393939; position: relative; }
.dropdown-user-menu li:last-child 						{ border-bottom: none; }
.dropdown-user-menu li:last-child a 					{ border-radius: 0 0 10px 10px; }
.dropdown-user-menu li.item-stat 						{ 
	padding: 20px 17px; 
	font-size: 11px;
	background: #191919;
	background: -moz-linear-gradient(top, #191919 0%, #191919 85%, #000000 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #191919), color-stop(85%, #191919), color-stop(100%, #000000));
	background: -webkit-linear-gradient(top, #191919 0%, #191919 85%, #000000 100%);
	background: -o-linear-gradient(top, #191919 0%, #191919 85%, #000000 100%);
	background: -ms-linear-gradient(top, #191919 0%, #191919 85%, #000000 100%);
	background: linear-gradient(to bottom, #191919 0%, #191919 85%, #000000 100%);
}
.dropdown-user-menu li.item-stat .rating 				{ color: #93d3f2; }
.dropdown-user-menu li.item-stat .rating.negative 		{ color: #d95f5f; }
.dropdown-user-menu li.item-stat .rating i 				{ position: relative; top: 2px; }
.dropdown-user-menu li.item-stat .strength 				{ color: #f3d50b; margin-right: 21px; }
.dropdown-user-menu li.item-stat .arrow 				{ position: relative; top: 3px; }
.dropdown-user-menu li.item-stat .icon-synio-star-small { position: relative; top: 2px; }
.dropdown-user-menu li.item-stat .icon-synio-strength 	{ position: relative; top: 1px; }
.dropdown-user-menu li a 								{ display: block; zoom: 1; *width: 138px; height: 50px; padding: 0 10px 0 55px; line-height: 50px; color: #fff; text-decoration: none; }
.dropdown-user-menu li a:hover 							{ background: #093357; color: #fff; }
.dropdown-user-menu li .item-icon 						{ position: absolute; top: 15px; left: 17px; width: 21px; height: 21px; background: url(../images/icons-synio.png) no-repeat; }
.dropdown-user-menu li.item-messages .item-icon 		{ background-position: 0 0; }
.dropdown-user-menu li.item-profile .item-icon 			{ background-position: -23px 0; }
.dropdown-user-menu li.item-settings .item-icon			{ background-position: -46px 0; }
.dropdown-user-menu li.item-create .item-icon 			{ background-position: -69px 0; }
.dropdown-user-menu li.item-signout .item-icon 			{ background-position: -92px 0; }
.dropdown-user-menu li.item-favourite .item-icon 		{ background-position: -115px 0; }
.dropdown-user-menu li.item-messages .new 				{ position: absolute; top: 15px; right: 7px; cursor: pointer; color: #fff; border-radius: 15px; border: 2px solid #eabe21; line-height: 1em; padding: 2px 7px 3px; }


/* Create 
-------------------------------------------*/
.dropdown-create 		{ margin-right: 120px; line-height: 23px; }
.dropdown-create a 		{ font-weight: normal; }
.dropdown-create h2 a 	{ text-transform: lowercase; display: inline-block; }

.dropdown-menu-create 				{ padding: 10px 15px 15px; border: 3px solid #edf8fd; border-radius: 10px; -webkit-box-shadow: 0 0 10px rgba(0,0,0,.5); box-shadow: 0 0 10px rgba(0,0,0,.5); position: absolute; background: #fff; min-width: 150px; z-index: 10; font-family: 'PT Sans', sans-serif; font-size: 27px; text-transform: lowercase; }
.dropdown-menu-create li 			{ line-height: 1em; margin-bottom: 10px; }
.dropdown-menu-create li:last-child { margin: 0; }
.dropdown-menu-create li a 			{ color: #275ec2; text-decoration: none; border-bottom: 1px solid #275ec2; display: inline-block; }
.dropdown-menu-create li a:hover 	{ color: #f00; border-color: #f00; }
.dropdown-menu-create li.active a	{ color: #aaa; border-color: #aaa; }


/* Nav main 
-------------------------------------------*/
.nav.nav-main .dropdown-nav-main                       { display: inline; float: none; border: 1px solid #595959; border-radius: 3px; padding: 0 5px 2px; position: relative; padding-right: 15px; }
.nav.nav-main .dropdown-nav-main.dropdown-toggle       { padding-right: 16px !important; }
.nav.nav-main .dropdown-nav-main.dropdown-toggle:after { border-width: 3px; right: 5px; }

.dropdown-menu.dropdown-menu-nav-main             { background: #090909; border: 1px solid #333; min-width: 100px; }
.dropdown-menu.dropdown-menu-nav-main li a        { color: #cfcfcf; text-decoration: none; }
.dropdown-menu.dropdown-menu-nav-main li a:hover  { color: #aaa; background: none; }
.dropdown-menu.dropdown-menu-nav-main li.active a { color: #aed6e9; background: none; }