/**
 * Формы
 */

button,
input,
select,
textarea {
	font-family: Verdana, sans-serif;
}

/* Input Text */
textarea,
input[type="text"],
.input-text {
	padding: 5px;
	border: 1px solid #c9c9c9;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.07) inset; 
	box-shadow: 0 2px 4px rgba(0,0,0,.07) inset;
	border-radius: 3px;
}

textarea:focus,
input[type="text"]:focus,
.input-text:focus 	{ border-color: #57BCEB; -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.07) inset, 0 0 3px #00A8FF; box-shadow: 0 2px 4px rgba(0,0,0,.07) inset, 0 0 3px #00A8FF; outline: none; }

select 		{ padding: 4px; border: 1px solid #ddd; border-radius: 3px; }

fieldset { margin-bottom: 30px; padding-top: 20px; border-top: 1px solid #eaeaea; }
fieldset legend { color: #000; font-size: 18px; padding-right: 10px; }

form p { margin-bottom: 20px; }
form label { display: block; margin-bottom: 3px; }
form .icon-question-sign { cursor: help; }

.note { display: block; margin-top: 3px; font-size: 11px; line-height: 16px; color: #aaa; }
.note.note-header { margin-bottom: 20px; }

.captcha-image { vertical-align: top; }

.counter-wrapper { margin-bottom: 15px; position: relative; }
.counter-wrapper .counter { color: #777; position: absolute; top: 0; right: 0; }
.counter-wrapper label { margin-right: 50px; }

dl.form-item { overflow: hidden; zoom: 1; margin-bottom: 20px; }
dl.form-item dt { float: left; width: 125px; padding-top: 4px; padding-right: 15px; overflow: hidden; }
dl.form-item dd { float: left; width: 250px; }

.form-profile { position: relative; }
.form-profile .avatar-change { position: absolute; top: 20px; right: 20px; font-size: 11px; }
.form-profile .avatar-change .avatar { width: 80px; border-radius: 5px; margin-bottom: 10px; background: #fff; padding: 5px; -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2); box-shadow: 0 0 5px rgba(0,0,0,.2); }
.form-profile .avatar-change img { width: 80px; vertical-align: top; }
.form-profile .avatar-change a { color: #727a90; border-color: #727a90; }


/* Registration form
---------------------------------------------------- */
.registration-form .form-item:last-child 							{ margin-bottom: 0; }
.registration-form dl.form-item dd									{ position: relative; width: 355px; }
.registration-form dl.form-item dd .form-item-help 					{ width: 100px; height: 20px; position: absolute; top: 1px; right: 0; }
.registration-form dl.form-item dd .form-item-help.active 			{ background: url(../images/dots.png) 0 12px repeat-x; }
.registration-form dl.form-item dd .form-item-help i 				{ background-color: #f8fbfe; }
.registration-form dl.form-item dd .form-item-help i.icon-ok-green 	{ position: absolute; top: 3px; right: 0; }


/* Валидатор 
---------------------------------------------------------------*/
.validate-error-hide { display: none; }
.validate-error-show { 	
	display: block;
	line-height: 16px;
	position: relative; 
	padding: 10px 15px 12px 38px;
	background: #fefef1 url(../images/error.png) 15px 12px no-repeat;
	color: #363636; 
	margin-top: 13px; 
	font-size: 12px; 
	border-radius: 3px; 
	-webkit-box-shadow: 0 1px 5px #e8e8c0 inset; box-shadow: 0 1px 5px #e8e8c0 inset; 
}
.validate-error-show:before 	{ display: block; content: ""; position: absolute; top: -12px; left: 15px; width: 0; height: 0; border-width: 6px; border-color: transparent transparent #F2F2DD transparent; border-style: solid; }


/**
 * Блок редактирования аватара
 *
 * @file actions/ActionSettings/profile.tpl
 */
.avatar-edit       { margin-bottom: 15px; }
.avatar-edit img   { vertical-align: bottom; }
.avatar-edit label { margin-top: 10px; }


/**
 * Создание топика-опроса
 *
 * @file actions/ActionQuestion/add.tpl
 */
.poll-add { padding: 15px 20px; margin-bottom: 20px; background: #F1F7FD; }

.poll-add-list                       { margin-bottom: 15px; }
.poll-add-list li                    { margin-bottom: 5px; }
.poll-add-list li input[type="text"] { margin-right: 5px; }


/**
 * Справка по разметке редактора
 *
 * @file editor_help.tpl
 */
.editor-help header   { margin-bottom: 20px; } 
.editor-help header a { font-size: 11px; color: #000; border-color: #000; } 

.editor-help-body { 
	display: none;
	position: relative; 
	padding: 15px 20px;
	margin-bottom: 20px;
	background: #fefef1; 
	color: #363636; 
	margin-top: 13px; 
	font-size: 11px; 
	border-radius: 3px; 
	-webkit-box-shadow: 0 0 5px #e8e8c0 inset; 
	        box-shadow: 0 0 5px #e8e8c0 inset; 
}
.editor-help-body:before 	{
	display: block;
	content: "";
	position: absolute;
	top: -12px;
	left: 15px;
	width: 0;
	height: 0;
	border-width: 6px;
	border-color: transparent transparent #F2F2DD transparent;
	border-style: solid;
}
.editor-help-body h3 { font-size: 18px; font-weight: bold; margin-bottom: 10px; }

.editor-help-col             { float: left; width: 47%; margin-left: 6%; }
.editor-help-col:first-child { margin-left: 0; }

.editor-help-item            { margin-bottom: 20px; }
.editor-help-item:last-child { margin-bottom: 0; }
.editor-help-item h4         { font-family: Verdana, sans-serif; font-size: 11px; color: #727a90; font-weight: bold; }
.editor-help-item h4 a       { color: #727a90; border-bottom: 1px dotted #727a90; }