/*
 * Modal
 *
 * @template modals/*.tpl
 */


/* Base class */
.modal {
    color: #333;
    background-color: #fbfcfc;
	border-radius: 10px;
	overflow: hidden;
}


/* Close button */
.modal .modal-close:before,
.modal .close:before { display: none; }
.modal .close,
.modal .modal-close {
	top: 7px; 
	right: 8px; 
	width: 16px; 
	height: 16px; 
	background: url(../images/icons-synio.png) no-repeat -131px -39px;
	opacity: 1;
	filter: alpha(opacity=100);
}
.modal .close:hover,
.modal .modal-close:hover { background-position: -131px -55px; }


/* Header */
.modal .modal-header 		{ padding: 15px 30px 0; border: 0; background: transparent; }


/* Nav */
.modal > .nav { padding: 20px 30px 0; margin-bottom: 0; }


/* Content */
.modal .modal-content 		{ padding: 30px 30px; }


/* Footer */
.modal .modal-footer 		{ padding: 0 30px 30px; border: 0; background: transparent; }


/**
 * Авторизация
 *
 * @template modals/modal.login.tpl
 */
.modal.modal-login                            { width: 450px; }
.modal.modal-login .nav                       { margin-bottom: 30px; }
.modal.modal-login .modal-header              { margin-bottom: 0; }
.modal.modal-login .modal-content             { padding-top: 15px; }
.modal.modal-login .remember-label            { font-size: 11px; color: #6c7272; }
.modal.modal-login .remember-label input      { top: 2px; }
.modal.modal-login .icon-question-sign        { position: relative; top: -3px; }
.modal.modal-login .icon-validation-success   { position: relative; top: -1px; }


/**
 * Создать
 *
 * @template modals/modal.login.tpl
 */
.modal.modal-write                                      { width: 620px; background: #e0eff9; }
.modal.modal-write .modal-content                       { padding: 10px 10px 20px; *padding: 10px 10px 25px; }

.write-list { *overflow: hidden; *zoom: 1; }
.write-list li {
	width: 125px;
	margin: 0 10px 20px;
	font-size: 19px;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	overflow: hidden;
	display: inline-table;
	*float: left;
}
.write-list li a { color: #727a90; }
.write-list li:hover a  { color: #275ec2; }
.write-list li .write-item-image {
	display: block;
	margin: 0 auto;
	width: 115px;
	height: 115px;
	border-radius: 3px;
	text-align: center;
	background: url(../images/write.png) no-repeat;
	margin-bottom: 0;
}
.write-list li.write-item-type-draft { padding-right: 20px; margin-right: 0; border-right: 1px dotted #aac6d9; }

.write-list li.write-item-type-topic .write-item-image          { background-position: 0 0; }
.write-list li.write-item-type-message .write-item-image        { background-position: -345px 0; }
.write-list li.write-item-type-blog .write-item-image           { background-position: -115px 0; }
.write-list li.write-item-type-draft .write-item-image          { background-position: -578px 0; }
.write-list li.write-item-type-topic:hover  .write-item-image   { background-position: 0 -115px; }
.write-list li.write-item-type-message:hover  .write-item-image { background-position: -345px -115px; }
.write-list li.write-item-type-blog:hover  .write-item-image    { background-position: -115px -115px; }
.write-list li.write-item-type-draft:hover  .write-item-image   { background-position: -578px -115px; }


/**
 * Загрузка изображения
 *
 * @template modals/modal.upload_image.tpl
 */
.modal.modal-image-upload { width: 500px; }
.modal.modal-image-upload .nav.nav-pills { margin-bottom: 0; }
.modal.modal-upload-photo .image-border, 
.modal.modal-upload-avatar .image-border {
	float: left;
	border-radius: 5px;
	background: #fff;
	padding: 5px;
	margin-bottom: 15px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.2);
	box-shadow: 0 0 5px rgba(0,0,0,.2);
}
#avatar-resize-original-img { max-width: 200px; width: 100%; }