/* --------------------------------------------
	MODALS
-------------------------------------------- */

.modal {
    display: none;
    
    position: fixed;
    top: 25%;
    left: 50%;
    
    width: 300px;
    margin-left: -150px;
	
    color: #333;
    background-color: #fbfcfc;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,.5); box-shadow: 0 0 15px rgba(0,0,0,.5);
	overflow: hidden;
}
.modal .close { 
	position: absolute; 
	top: 7px; 
	right: 8px; 
	width: 16px; 
	height: 16px; 
	background: url(../images/icons-synio.png) no-repeat -131px -39px;
}
.modal .close:hover { background-position: -131px -55px; }
.modal .modal-header 		{ padding: 15px 30px 0; }
.modal .modal-header h3 	{ font-size: 20px; font-weight: bold; margin-right: 20px; }
.modal .modal-content 		{ padding: 30px 30px; }

.jqmOverlay { background-color: #000; }

* html .modal { position: absolute; top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px'); }



/* Login */
.modal.modal-login { width: 450px; margin-left: -225px; top: 50px; }
.modal.modal-login .nav { margin-bottom: 30px; }
.modal.modal-login .modal-header { margin-bottom: 0; }
.modal.modal-login .modal-content { padding-top: 15px; }
.modal.modal-login .remember-label { font-size: 11px; color: #6c7272; }
.modal.modal-login .remember-label input { top: 2px; }
.modal.modal-login .icon-question-sign { position: relative; top: -3px; }
.modal.modal-login .icon-ok-green { position: relative; top: -1px; }
.modal.modal-login .js-block-popup-login-content .button { position: relative; top: -1px; margin-left: 1px; }
.ie .modal.modal-login .js-block-popup-login-content .button { margin-left: 1px; }


/* Write */
.modal.modal-write { width: 620px; margin-left: -310px; top: 70px; background: #e0eff9; }
.modal.modal-write .modal-content { padding: 20px 10px 20px; *padding: 20px 10px 25px; }
.modal.modal-write .write-list { *overflow: hidden; *zoom: 1; }
.modal.modal-write .write-list li { width: 125px; margin: 0 10px 20px; font-size: 19px; font-family: 'PT Sans', sans-serif; text-align: center; overflow: hidden; display: inline-table; *float: left; }
.modal.modal-write .write-list li a { color: #727a90; }
.modal.modal-write .write-list li:hover a { color: #275ec2; }
.modal.modal-write .write-list li .write-item-image { display: block; margin: 0 auto; width: 115px; height: 115px; border-radius: 3px; text-align: center; background: url(../images/write.png) no-repeat; margin-bottom: 0; }
.modal.modal-write .write-list li.write-item-type-draft							{ padding-right: 20px; margin-right: 0; border-right: 1px dotted #aac6d9; }

.modal.modal-write .write-list li.write-item-type-topic .write-item-image 		{ background-position: 0 0; }
.modal.modal-write .write-list li.write-item-type-poll .write-item-image 		{ background-position: -115px 0; }
.modal.modal-write .write-list li.write-item-type-link .write-item-image 		{ background-position: -230px 0; }
.modal.modal-write .write-list li.write-item-type-message .write-item-image 	{ background-position: -345px 0; }
.modal.modal-write .write-list li.write-item-type-blog .write-item-image 		{ background-position: -115px 0; }
.modal.modal-write .write-list li.write-item-type-draft .write-item-image 		{ background-position: -578px 0; }
.modal.modal-write .write-list li.write-item-type-topic:hover  .write-item-image		{ background-position: 0 -115px; }
.modal.modal-write .write-list li.write-item-type-poll:hover  .write-item-image 		{ background-position: -115px -115px; }
.modal.modal-write .write-list li.write-item-type-link:hover  .write-item-image 		{ background-position: -230px -115px; }
.modal.modal-write .write-list li.write-item-type-message:hover  .write-item-image 		{ background-position: -345px -115px; }
.modal.modal-write .write-list li.write-item-type-blog:hover  .write-item-image 		{ background-position: -115px -115px; }
.modal.modal-write .write-list li.write-item-type-draft:hover  .write-item-image		{ background-position: -578px -115px; }


/* Upload Image */
.modal.modal-image-upload { width: 500px; margin-left: -250px; }
.modal.modal-upload-photo .image-border, .modal.modal-upload-avatar .image-border { float: left; border-radius: 5px; background: #fff; padding: 5px; margin-bottom: 15px; -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2); box-shadow: 0 0 5px rgba(0,0,0,.2); }
#avatar-resize-original-img { max-width: 200px; width: 100%; }



