/* --------------------------------------------
	НАВИГАЦИЯ
-------------------------------------------- */

.nav 					{ overflow: hidden; zoom: 1; }
.nav li 				{ float: left; }

.nav li:last-child 		{  }
.nav li a:hover 		{  }
.nav li.active a 		{  }


/* Nav Pills */
.nav.nav-pills 				{ margin-bottom: 15px; font-size: 11px; }
.nav.nav-pills li 			{ margin-right: 10px; border: 1px solid #fff; border-radius: 3px; padding: 0 5px 1px; line-height: 17px; }
.nav.nav-pills li a 		{ display: block; border-radius: 2px; color: #727a90; text-decoration: underline; }
.nav.nav-pills li a:hover 	{ color: #333; }
.nav.nav-pills li.active 	{ border-color: #ebf0f4; }
.nav.nav-pills li.active a 	{ color: #628fa5; text-decoration: none; border-color: #ebf0f4; }

.nav.nav-pills.nav-pills-profile 		{ margin-bottom: 30px; }


/* Nav Topic Filter */
.nav.nav-menu 						{ margin-bottom: 1px; font-size: 11px; border-radius: 13px; border: 1px solid #fff; float: left; }
.nav.nav-menu li 					{ position: relative; border: 1px solid #dfe3e8; border-left: none; }
.nav.nav-menu li a { 
	background: #fbfbfc;
	background: -moz-linear-gradient(top,  #fbfbfc 0%, #f0f2f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfc), color-stop(100%,#f0f2f5));
	background: -webkit-linear-gradient(top,  #fbfbfc 0%,#f0f2f5 100%);
	background: -o-linear-gradient(top,  #fbfbfc 0%,#f0f2f5 100%);
	background: -ms-linear-gradient(top,  #fbfbfc 0%,#f0f2f5 100%);
	background: linear-gradient(top,  #fbfbfc 0%,#f0f2f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfc', endColorstr='#f0f2f5',GradientType=0 );

	height: 22px; 
	line-height: 20px;
	
	color: #434343; 
	padding: 0 13px; 
	float: left; 
	border-left: 1px solid #fff; 
	border-top: 1px solid #fefefe; 
	text-decoration: none;
}
.nav.nav-menu li a:hover 				{ background: #fafafa; }
.nav.nav-menu li.active 				{ border: none; }
.nav.nav-menu li.active a 			{ background: #edf8fd; color: #628fa5; box-shadow: 0 2px 3px #b4d5e2 inset; padding: 0 14px; border: none; height: 25px; line-height: 25px; }
.nav.nav-menu li:first-child			{ border-radius: 13px 0 0 13px; border-left: 1px solid #dfe3e8; }
.nav.nav-menu li:first-child a		{ border-radius: 13px 0 0 13px; padding-left: 15px; }
.nav.nav-menu li:last-child			{ border-radius: 0 13px 13px 0; }
.nav.nav-menu li:last-child a			{ border-radius: 0 13px 13px 0; padding-right: 15px; }

.nav.nav-menu.nav-filter-sub li a 		{ padding: 5px 10px; font-size: 11px; color: #777; }
.nav.nav-menu.nav-filter-sub li.active a 	{ color: #fff; }

.nav-menu-wrapper { margin-bottom: 40px; }


/* Userbar */
#userbar {
	border: 1px solid #ddd;
	border-top: none;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 0 5px #ddd;

	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
}
#userbar .search { float: left; margin: 5px 0 0 6px; *margin: 4px 0 0 4px; }

.nav.nav-userbar 									{ float: right; }
.nav.nav-userbar li 								{ border-radius: 0 0 0 4px; border-left: 1px solid #eaeaea; }
.nav.nav-userbar li a 								{ color: #555; }
.nav.nav-userbar li:first-child a 					{ border-radius: 0 0 0 4px; }
.nav.nav-userbar li:last-child a 					{ border-radius: 0 0 4px 0; }
.nav.nav-userbar li.nav-userbar-username a 			{ position: relative; padding-left: 47px; font-weight: bold; color: #333; }
.nav.nav-userbar li.nav-userbar-username .avatar 	{ position: absolute; top: 7px; left: 15px; }
.nav.nav-userbar li .new-messages 					{ color: #4AA731; font-weight: bold; }


/* Nav Main */
.nav.nav-main 					{ float: left; }
.nav.nav-main li 				{ margin-right: 22px; position: relative; height: 51px; line-height: 49px; }
.nav.nav-main li a 				{ color: #cfcfcf; text-decoration: none; }
.nav.nav-main li a:hover 		{ }
.nav.nav-main li i 				{ display: none; position: absolute; bottom: 0; left: 50%; margin-left: -2px; width: 0; height: 0; border: 3px solid transparent; border-bottom-color: #fff; }
.nav.nav-main li.active i 		{ display: block; }
.nav.nav-main li.active a 		{ color: #aed6e9; }


/* Nav Profile */
.nav.nav-profile 				{ margin-bottom: 15px; }
.nav.nav-profile li 			{ float: none; font-size: 15px; border-bottom: 1px dotted #dce1e6; padding: 8px 10px 10px 30px; }
.nav.nav-profile li a 			{ text-decoration: underline; color: #275ec2; }
.nav.nav-profile li a:hover { color: #f00; }
.nav.nav-profile li.active a 	{ text-decoration: none; color: #000; }


/* Dropdown */
.nav.nav-pills li.dropdown 			{ position: relative; }
.nav.nav-pills li.dropdown a 		{ padding-right: 25px; }
.nav.nav-pills li.dropdown i 		{ position: absolute; top: 13px; right: 9px; height: 0; width: 0; border: 4px solid transparent; border-top-color: #fff; cursor: pointer; }
.nav.nav-pills li.dropdown ul 		{ display: none; position: absolute; }
.nav.nav-pills li.dropdown.opened a { box-shadow: 0 0 7px rgba(0, 0, 0, .5) inset;  }

.dropdown-menu 						{ position: absolute; top: 32px; overflow: hidden; z-index: 10; background: #fff; border: 1px solid #ccc; min-width: 150px; }
.dropdown-menu li 					{ line-height: 1em; }
.dropdown-menu li a 				{ display: block; padding: 10px 15px; }
.dropdown-menu li a:hover 			{ background: #fafafa; }
.dropdown-menu li.active a 			{ color: #aaa; }
.dropdown-menu li.active a:hover 	{ cursor: default; }


.dropdown-create 		{ position: relative; margin-right: 120px; }
.dropdown-create a 		{ font-weight: normal; }
.dropdown-create h2 a 	{ text-transform: lowercase; }






