/* --------------------------------------------
	НАВИГАЦИЯ
-------------------------------------------- */

.nav 					{ overflow: hidden; zoom: 1; }
.nav li 				{ float: left; }

.nav li:last-child 		{  }
.nav li a:hover 		{  }
.nav li.active a 		{  }


/* Nav Pills */
.nav.nav-pills 				{ margin-bottom: 15px; font-size: 11px; }
.nav.nav-pills li 			{ margin-right: 10px; border: 1px solid transparent; line-height: 13px; border-radius: 5px; padding: 3px 6px 4px; }
.nav.nav-pills li a 		{ display: block; color: #727a90; text-decoration: underline; float: left; }
.nav.nav-pills li a:hover 	{ color: #333; border-color: #333; }
.nav.nav-pills li a.new		{ margin-left: 5px; text-decoration: none; }
.nav.nav-pills li.active 	{ border-color: #ebf0f4; }
.nav.nav-pills li.active a 	{ color: #628fa5; text-decoration: none; border-color: #ebf0f4; }

.nav.nav-pills.nav-pills-profile 		{ margin-bottom: 30px; }


/* Nav Topic Filter */
.nav.nav-menu 						{ font-size: 11px; border-radius: 13px; border: 1px solid #fff; float: left; position: relative; }
.nav.nav-menu li 					{ position: relative; height: 22px; padding: 1px 1px 1px 0; -webkit-box-shadow: -1px 0 0 #dfe3e8 inset, 0 1px 0 #dfe3e8 inset, 0 -1px 0 #dfe3e8 inset; box-shadow: -1px 0 0 #dfe3e8 inset, 0 1px 0 #dfe3e8 inset, 0 -1px 0 #dfe3e8 inset; }
.nav.nav-menu li a { 
	background: #fbfbfc;
	background: -moz-linear-gradient(top,  #fbfbfc 0%, #f0f2f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfc), color-stop(100%,#f0f2f5));
	background: -webkit-linear-gradient(top,  #fbfbfc 0%,#f0f2f5 100%);
	background: -o-linear-gradient(top,  #fbfbfc 0%,#f0f2f5 100%);
	background: -ms-linear-gradient(top,  #fbfbfc 0%,#f0f2f5 100%);
	background: linear-gradient(top,  #fbfbfc 0%,#f0f2f5 100%);

	height: 22px; 
	line-height: 21px;
	color: #434343; 
	padding: 0 13px; 
	float: left; 
	text-decoration: none;
	
	-webkit-box-shadow: 1px 0 0 #fff inset, 0 1px 0 #fff inset; box-shadow: 1px 0 0 #fff inset, 0 1px 0 #fff inset;
}
.nav.nav-menu li:first-child			{ border-top-left-radius: 13px; border-bottom-left-radius: 13px; }
.nav.nav-menu li:first-child a			{ border-top-left-radius: 13px; border-bottom-left-radius: 13px; padding-left: 15px; -webkit-box-shadow: 1px 0 0 #dfe3e8 inset, 0 1px 0 #fff inset; box-shadow: 1px 0 0 #dfe3e8 inset, 0 1px 0 #fff inset; }
.nav.nav-menu li:last-child				{ border-top-right-radius: 13px; border-bottom-right-radius: 13px; -webkit-box-shadow: 0 1px 0 #dfe3e8 inset, 0 -1px 0 #dfe3e8 inset; box-shadow: 0 1px 0 #dfe3e8 inset, 0 -1px 0 #dfe3e8 inset; padding-right: 0; }
.nav.nav-menu li:last-child a			{ border-top-right-radius: 13px; border-bottom-right-radius: 13px; padding-right: 15px; box-shadow: -1px 0 0 #dfe3e8 inset, 0 1px 0 #fff inset; }

.nav.nav-menu li:hover { -webkit-box-shadow: -1px 0 0 #27ace8 inset, 0 1px 0 #27ace8 inset, 0 -1px 0 #27ace8 inset; box-shadow: -1px 0 0 #27ace8 inset, 0 1px 0 #27ace8 inset, 0 -1px 0 #27ace8 inset; }
.nav.nav-menu li:hover a { 
	color: #fff;
	
	-webkit-box-shadow: 1px 0 0 #27ace8 inset, 0 -1px 0 #55d0ff inset; box-shadow: 1px 0 0 #27ace8 inset, 0 -1px 0 #55d0ff inset;
	
	background: #4ec4ff;
	background: -moz-linear-gradient(top,  #4ec4ff 0%, #22b3fe 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ec4ff), color-stop(100%,#22b3fe));
	background: -webkit-linear-gradient(top,  #4ec4ff 0%,#22b3fe 100%);
	background: -o-linear-gradient(top,  #4ec4ff 0%,#22b3fe 100%);
	background: -ms-linear-gradient(top,  #4ec4ff 0%,#22b3fe 100%);
	background: linear-gradient(top,  #4ec4ff 0%,#22b3fe 100%);
}

.nav.nav-menu li.active 				{ background: #edf8fd; border: none; -webkit-box-shadow: 0 2px 3px #b4d5e2 inset; box-shadow: 0 2px 3px #b4d5e2 inset; }
.nav.nav-menu li.active a 				{ background: none; color: #628fa5; -webkit-box-shadow: none; box-shadow: none; border: none; }

.nav.nav-menu.nav-filter-sub li a 			{ padding: 5px 10px; font-size: 11px; color: #777; }
.nav.nav-menu.nav-filter-sub li.active a 	{ color: #fff; }

.nav-menu-wrapper { margin-bottom: 40px; position: relative; }

.oldie .nav.nav-menu { border-color: #dfe3e8; border-right: none; }
.oldie .nav.nav-menu li { border-right: 1px solid #dfe3e8; }


/* Userbar */
#userbar {
	border: 1px solid #ddd;
	border-top: none;
	border-radius: 0 0 4px 4px;
	-webkit-box-shadow: 0 0 5px #ddd; box-shadow: 0 0 5px #ddd;

	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
}
#userbar .search { float: left; margin: 5px 0 0 6px; *margin: 4px 0 0 4px; }

.nav.nav-userbar 									{ float: right; }
.nav.nav-userbar li 								{ border-radius: 0 0 0 4px; border-left: 1px solid #eaeaea; }
.nav.nav-userbar li a 								{ color: #555; }
.nav.nav-userbar li:first-child a 					{ border-radius: 0 0 0 4px; }
.nav.nav-userbar li:last-child a 					{ border-radius: 0 0 4px 0; }
.nav.nav-userbar li.nav-userbar-username a 			{ position: relative; padding-left: 47px; font-weight: bold; color: #333; }
.nav.nav-userbar li.nav-userbar-username .avatar 	{ position: absolute; top: 7px; left: 15px; }
.nav.nav-userbar li .new-messages 					{ color: #4AA731; font-weight: bold; }


/* Nav Main */
.nav.nav-main 					{ float: left; }
.nav.nav-main li 				{ margin-right: 22px; position: relative; height: 51px; line-height: 49px; }
.nav.nav-main li a 				{ color: #cfcfcf; text-decoration: none; }
.nav.nav-main li a:hover 		{ }
.nav.nav-main li i 				{ display: none; position: absolute; bottom: 0; left: 50%; margin-left: -2px; width: 0; height: 0; border: 3px solid transparent; border-bottom-color: #fff; }
.nav.nav-main li.active i 		{ display: block; }
.nav.nav-main li.active a 		{ color: #aed6e9; }


/* Nav Profile */
.nav.nav-profile 				{ margin-bottom: 15px; }
.nav.nav-profile li 			{ float: none; font-size: 15px; border-bottom: 1px dotted #dce1e6; padding: 8px 10px 10px 30px; }
.nav.nav-profile li a 			{ text-decoration: underline; color: #275ec2; }
.nav.nav-profile li a:hover { color: #f00; }
.nav.nav-profile li.active a 	{ text-decoration: none; color: #000; }


/* Dropdown */
.nav.nav-pills li.dropdown 			{ position: relative; }
.nav.nav-pills li.dropdown a 		{ padding-right: 12px; }
.nav.nav-pills li.dropdown i 		{ position: absolute; top: 4px; right: 3px; cursor: pointer; }
.nav.nav-pills li.dropdown ul 		{ display: none; position: absolute; }
.nav.nav-pills li.dropdown.opened a {   }

.dropdown-menu 						{ display: none; padding: 10px 15px 13px; border: 3px solid #edf8fd; border-radius: 10px; -webkit-box-shadow: 0 0 10px rgba(0,0,0,.5); box-shadow: 0 0 10px rgba(0,0,0,.5); position: absolute; top: 32px; overflow: hidden; z-index: 10; background: #fff; min-width: 150px; }
.dropdown-menu li 					{ line-height: 1em; margin-bottom: 15px; }
.dropdown-menu li:last-child 		{ margin-bottom: 0; }
.dropdown-menu li a 				{ display: block; }
.dropdown-menu li a:hover 			{  }
.dropdown-menu li.active a 			{ color: #aaa; }
.dropdown-menu li.active a:hover 	{ cursor: default; }


.dropdown-create 		{ margin-right: 120px; line-height: 23px; }
.dropdown-create a 		{ font-weight: normal; }
.dropdown-create h2 a 	{ text-transform: lowercase; display: inline-block; }

.dropdown-menu-create 				{ padding: 10px 15px 15px; border: 3px solid #edf8fd; border-radius: 10px; -webkit-box-shadow: 0 0 10px rgba(0,0,0,.5); box-shadow: 0 0 10px rgba(0,0,0,.5); position: absolute; background: #fff; min-width: 150px; z-index: 10; font-family: 'PT Sans', sans-serif; font-size: 27px; text-transform: lowercase; }
.dropdown-menu-create li 			{ line-height: 1em; margin-bottom: 10px; }
.dropdown-menu-create li:last-child { margin: 0; }
.dropdown-menu-create li a 			{ color: #275ec2; text-decoration: none; border-bottom: 1px solid #275ec2; display: inline-block; }
.dropdown-menu-create li a:hover 	{ color: #f00; border-color: #f00; }
.dropdown-menu-create li.active a	{ color: #aaa; border-color: #aaa; }

.nav.nav-pills.nav-pills-dropdown { position: absolute; top: 0; right: 0; margin: 0; display: none; }
.nav.nav-pills.nav-pills-dropdown li { margin: 0; }





