/**
 * Popovers
 */

.popover {
	border: 3px solid #edf8fd;
	color: #000;
	border-radius: 10px;
	font-size: 12px;
	line-height: 18px;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,.3);
	        box-shadow: 0 0 15px rgba(0,0,0,.3);
}
.popover .popover-content { padding: 15px 20px; }

/* Arrow */
.popover .popover-arrow { border-width: 11px; border-color: #edf8fd; }
.popover .popover-arrow-inner { border-width: 8px; border-color: #fff; }

.popover.alignx-center.aligny-top .popover-arrow,
.popover.alignx-center.aligny-top .popover-arrow-inner,
.popover.alignx-left.aligny-top .popover-arrow,
.popover.alignx-left.aligny-top .popover-arrow-inner,
.popover.alignx-right.aligny-top .popover-arrow,
.popover.alignx-right.aligny-top .popover-arrow-inner     { bottom: -22px; margin-left: -11px; }
.popover.alignx-center.aligny-bottom .popover-arrow,
.popover.alignx-center.aligny-bottom .popover-arrow-inner,
.popover.alignx-left.aligny-bottom .popover-arrow,
.popover.alignx-left.aligny-bottom .popover-arrow-inner,
.popover.alignx-right.aligny-bottom .popover-arrow,
.popover.alignx-right.aligny-bottom .popover-arrow-inner { top: -22px; margin-left: -11px; }
.popover.alignx-left.aligny-center .popover-arrow,
.popover.alignx-left.aligny-center .popover-arrow-inner   { right: -22px; margin-top: -11px; }
.popover.alignx-right.aligny-center .popover-arrow,
.popover.alignx-right.aligny-center .popover-arrow-inner  { left: -22px; margin-top: -11px; }

.popover.alignx-left.aligny-top .popover-arrow-inner,
.popover.alignx-right.aligny-top .popover-arrow-inner,
.popover.alignx-center.aligny-top .popover-arrow-inner     { bottom: -16px; margin-left: -8px; }
.popover.alignx-left.aligny-bottom .popover-arrow-inner,
.popover.alignx-right.aligny-bottom .popover-arrow-inner,
.popover.alignx-center.aligny-bottom .popover-arrow-inner { top: -16px; margin-left: -8px; }
.popover.alignx-left.aligny-center .popover-arrow-inner   { right: -16px; margin-top: -8px; }
.popover.alignx-right.aligny-center .popover-arrow-inner  { left: -16px; margin-top: -8px; }

.popover.alignx-left.aligny-bottom .popover-arrow,
.popover.alignx-left.aligny-bottom .popover-arrow-inner,
.popover.alignx-left.aligny-top .popover-arrow,
.popover.alignx-left.aligny-top .popover-arrow-inner  { left: 26px; }
.popover.alignx-right.aligny-bottom .popover-arrow,
.popover.alignx-right.aligny-top .popover-arrow       { left: auto; right: 17px; }
.popover.alignx-right.aligny-bottom .popover-arrow-inner,
.popover.alignx-right.aligny-top .popover-arrow-inner { left: auto; right: 20px; }


/* Loader */
.popover.loading { background: url(../images/loader-circle.gif) 50% 50% no-repeat; }


/**
 * Popover Blog Info
 */
.popover.popover-blog-info .popover-content { padding: 25px 30px; }

.popover-blog-info-topic   { color: #727a90; font-size: 11px; }
.popover-blog-info-actions { font-size: 11px; }

.popover.popover-blog-info .dotted-list.blog-info { margin-bottom: 30px; }
.popover.popover-blog-info .dotted-list.blog-info .dotted-list-item-label,
.popover.popover-blog-info .dotted-list.blog-info .dotted-list-item-value { background: #fff; }