/* -------------------------------------------------------------------
	ТАБЛИЦЫ
------------------------------------------------------------------- */

.table 					{ width: 100%; margin-bottom: 15px; border-collapse: separate; }
.table th 				{ text-align: left; font-weight: normal; border-bottom: 1px solid #c3d4dc; }
.table td 				{ padding: 13px 10px; }
.table th,
.table .cell-tab .cell-tab-inner { padding: 6px 10px 8px; }
.table tr:hover td		{ background: #f5fdff; }
.table tr.active td 	{ background: #CBF4BC; }
.table tbody td			{ border-top: 1px solid #f1f3f5; }
.table tbody tr:first-child	td	{ border-top: none; }

.table thead a			{ color: #727a90; text-decoration: none; }
.table thead a span		{ border-bottom: 1px dotted #727a90; }
.table a.asc,
.table a.desc			{ color: #000; border-color: #000; }
.table a.asc:after		{ content: " ↑"; }
.table a.desc:after		{ content: " ↓"; }
.table .cell-rating.negative { color: #f00 !important; }

.table .cell-tab { padding: 0; }
.table .cell-tab .cell-tab-inner { position: relative; top: 1px; display: inline-block; border: 1px solid transparent; border-radius: 3px 3px 0 0; border-bottom: none; }
.table .cell-tab .cell-tab-inner.active { background: #fff; border-color: #c3d4dc; }

/* Table Blogs */
.table.table-blogs .cell-info { width: 19px; padding-right: 0; padding-left: 0; }
.table.table-blogs tbody .cell-info { vertical-align: top; }
.table.table-blogs .cell-info .blog-list-info { width: 19px; height: 19px; display: block; background: url(../images/icons-synio.png) 0 -107px no-repeat; cursor: pointer; }
.table.table-blogs .cell-info .blog-list-info:hover,
.table.table-blogs .cell-info .blog-list-info.active { background-position: -19px -107px; }
.table.table-blogs .cell-name { padding-left: 3px; }
.table.table-blogs .cell-name .avatar 	{ float: left; margin-right: 10px; clear: right; }
.table.table-blogs .cell-name p		 	{ overflow: hidden; margin-bottom: 5px; }
.table.table-blogs .cell-name p .blog-name	{ font-size: 16px; color: #275ec2; }
.table.table-blogs .cell-name p i { vertical-align: middle; position: relative; top: -1px }
.table.table-blogs tbody .cell-rating 	{ width: 70px; font-weight: bold; font-size: 11px; color: #5fa459; }
.table.table-blogs .cell-readers 		{ width: 90px; text-align: center; vertical-align: middle; }
.table.table-blogs tbody .cell-readers 	{ text-align: center; vertical-align: middle; font-size: 11px; }
.table.table-blogs .cell-join 			{ width: 130px; text-align: center; vertical-align: middle; }
.table.table-blogs .cell-rating 		{ text-align: center; vertical-align: middle; }

/* Table Plugins */
.table.table-plugins .cell-checkbox 	{ width: 20px; padding: 12px 0 10px 10px; }
.table.table-plugins h3 				{ font-weight: bold; font-size: 17px; line-height: 20px; margin-bottom: 5px; }

/* Table Profile Notes */
.table.table-profile-notes 					{ border-top: 1px solid #eee; }
.table.table-profile-notes td 				{ vertical-align: top; }
.table.table-profile-notes .cell-username 	{ width: 20%; font-weight: bold; }
.table.table-profile-notes .cell-note 		{ width: 50%; }
.table.table-profile-notes .cell-date 		{ text-align: right; }

/* Table Profile Info */
.table.table-profile-info 				{ margin-bottom: 40px; }
.table.table-profile-info td 			{ vertical-align: top; }
.table.table-profile-info .cell-label 	{ width: 30%; color: #777; }

/* Table Users */
.table.table-users th 					{  }
.table.table-users .cell-follow 		{ width: 17px; text-align: center; }
.table.table-users thead .cell-follow i { position: relative; top: 3px; }
.table.table-users .cell-name 			{ width: 190px; padding-right: 0; padding-left: 0; }
.table.table-users .cell-name img 		{ float: left; margin-right: 14px; }
.table.table-users tbody .cell-name div		{ float: left; width: 125px; }
.table.table-users .cell-name .name		{ margin-top: 2px; }
.table.table-users .cell-name .name.no-realname		{ margin-top: 11px; }
.table.table-users .cell-name .username { width: 125px; position: relative; top: 1px; margin-bottom: 3px; }
.table.table-users .cell-name .realname { font-size: 11px; }
.table.table-users tbody .cell-date 	{ font-size: 11px; }
.table.table-users .cell-rating			{ text-align: center; width: 70px; }
.table.table-users .cell-skill 			{ text-align: center; width: 70px; }
.table.table-users tbody .cell-skill 	{ color: #628fa5; font-size: 11px; font-weight: bold; }
.table.table-users tbody .cell-rating	{ color: #5fa459; font-size: 11px; }
.table.table-users button				{ float: left; margin-right: 5px; }

/* Table Talk */
.table.table-talk .cell-checkbox 			{ width: 20px; padding: 15px 0 10px 10px; }
.table.table-talk thead .cell-checkbox 		{ padding: 10px 0 10px 10px; }
.table.table-talk .cell-favourite 			{ text-align: center; }
.table.table-talk tbody .cell-favourite 	{ padding: 17px 0; }
.table.table-talk .cell-recipients 			{ width: 130px; }
.table.table-talk tbody .cell-recipients 	{ font-size: 11px; }
.table.table-talk tbody .cell-recipients a 	{ color: #000; }
.table.table-talk tbody .cell-date 			{ font-size: 11px; width: 115px; }
.table.table-talk tbody .cell-title 		{  }
.table.table-talk tbody .cell-title a 		{ color: #275ec2; }
.table.table-talk tbody .cell-title a:hover	{ color: #f00; }
.table.table-talk tbody .cell-title span 	{ color: #628fa5; font-weight: bold; margin-left: 4px; }
.table.table-talk tbody .cell-title .new 	{ color: #32b319; }
.table.table-talk tbody .cell-title i 		{ position: relative; left: -3px; }
.table.table-talk tbody td					{ vertical-align: top; }