/* --------------------------------------------
	СТЕНА
-------------------------------------------- */

.wall-submit 									{ margin-bottom: 30px; background: #f8fbfe; padding: 15px; border-radius: 5px; position: relative; }
.wall-submit .counter							{ position: absolute; bottom: 18px; right: 15px; color: #818189; }
.wall-submit .counter.exceeded					{ color: #f00; }
.wall-submit textarea 							{ margin: 0 0 10px; }
.wall-submit.wall-submit-reply 					{ margin: 15px 0 2px 0; -webkit-box-shadow: 0 0 7px #E2EAF1 inset; box-shadow: 0 0 7px #E2EAF1 inset; }
.wall-submit.wall-submit-reply:after 			{ display: block; content: ""; position: absolute; top: -12px; left: 15px; width: 0; height: 0; border-width: 6px; border-color: transparent transparent #eaf1f7 transparent; border-style: solid; }
.wall-submit.wall-submit-reply .counter			{ display: none; }
.wall-submit.wall-submit-reply textarea 		{ margin-bottom: 0; height: 28px; *height: 16px; *width: 590px; }
.wall-submit.wall-submit-reply button 			{ display: none; }
.wall-submit.wall-submit-reply.active textarea 	{ height: 80px; margin-bottom: 10px; }
.wall-submit.wall-submit-reply.active button 	{ display: block; }
.wall-submit.wall-submit-reply.active .counter	{ display: block; }
.wall-submit p 									{ margin-bottom: 5px; }

.wall-item-wrapper 				{ margin-bottom: 23px; border-bottom: 1px solid #e7ebed; padding: 0 0 20px 55px; position: relative; }
.wall-item-wrapper:last-child 	{ border-bottom:none; }

.wall-item .avatar 							{ width: 40px; height: 40px; position: absolute; top: 0; left: 0; }
.wall-item .info 							{ color: #b9c2c2; font-size: 11px; line-height: 1em; margin-bottom: 8px; }
.wall-item .info a 							{ color: #275ec2; }
.wall-item .info .date 						{ color: #818189; }
.wall-item .actions.wall-item-actions 		{ margin-top: 5px; margin-bottom: 0; }
.wall-item .actions.wall-item-actions a 	{ color: #727a90; border-color: #727a90; }

.wall-item-replies 			{ padding: 4px 5px 2px; background: #fefef1; position: relative; color: #363636; margin-top: 15px; margin-bottom: 5px; font-size: 11px; border-radius: 5px; -webkit-box-shadow: 0 2px 4px #e8e8c0 inset; box-shadow: 0 2px 4px #e8e8c0 inset; }
.wall-item-replies:after 	{ display: block; content: ""; position: absolute; top: -12px; left: 15px; width: 0; height: 0; border-width: 6px; border-color: transparent transparent #EEEED8 transparent; border-style: solid; }

.wall-item-reply 						{ padding: 4px 0 8px 40px; margin: 0 7px; position: relative; font-size: 11px; border-bottom: 1px solid #ededc9; border-top: 1px solid #fff; }
.wall-item-reply:first-child 			{ border-top: none; padding-top: 0; margin-top: 3px; }
.wall-item-reply:first-child .avatar 	{ top: 4px; }
.wall-item-reply:last-child 			{ border-bottom: none; }
.wall-item-reply .text					{ font-size: 11px; }
.wall-item-reply .avatar 				{ position: absolute; top: 8px; left: 0; width: 30px; height: 30px; }
.wall-item-reply .actions 				{ margin-bottom: 0; }
.wall-item-reply .actions .date 		{ color: #818189; }
.wall-item-reply .author 				{ color: #275ec2; font-weight: bold; }

.wall-more 							{  }
.wall-more:hover 					{ background: #F4F4D9; }
.wall-more-reply { 
	display: block; 
	border-radius: 5px; 
	text-decoration: none; 
	text-align: center;
	padding: 7px 0; 
	font-size: 11px; 
	margin-bottom: 10px; 
	color: #898953;
	border: 1px solid #eaeac4;
	-webkit-box-shadow: 0 1px 2px #dbdbba, 0 1px 0 #fff inset; box-shadow: 0 1px 2px #dbdbba, 0 1px 0 #fff inset;

	background: #fffffa;
	background: -moz-linear-gradient(top,  #fffffa 0%, #fefef1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffffa), color-stop(100%,#fefef1));
	background: -webkit-linear-gradient(top,  #fffffa 0%,#fefef1 100%);
	background: -o-linear-gradient(top,  #fffffa 0%,#fefef1 100%);
	background: -ms-linear-gradient(top,  #fffffa 0%,#fefef1 100%);
	background: linear-gradient(top,  #fffffa 0%,#fefef1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffffa', endColorstr='#fefef1',GradientType=0 );
}
.wall-more-reply:hover 				{ color: #898953; }
.wall-more.loader 					{ background: #F4F4D9 url(../images/loader.gif) 50% 50% no-repeat; }
.wall-more.loader .wall-more-inner 	{ visibility: hidden; }

.wall-note h3 { font-size: 15px; margin-bottom: 20px; font-family: Verdana, sans-serif; }